[2021-07-30 22:39] JHarrietha-AOT commented on #166
@arielleandrews based off of meeting July 29th we discussed and finalized these Redirect Reasons for our Q3 release

Quarter 3 Release

Health Authorities

Police Records – RCMP or Municipal

Municipalities or Regional Districts

Federal Government

Crown Corporations

Large Universities

Other

[2021-07-30 22:42] JHarrietha-AOT opened #279 "Follow Up - Redirect Reasons - After Q3 Release"
Title of ticket:

#### Description
Follow up for IAO Intake with whether condensed list of redirect reason is working, if any reasons should be added or removed and if there is any other feedback

#### Dependencies
Q3 - release

#### DOD
- [ ] Follow up with Gitta and Patrick to see how the 6 redirect reasons and other feature is functioning
- [ ] Make updated to UI based off of feedback after Q3

[2021-07-30 22:45] JHarrietha-AOT commented on #166
@arielleandrews Based on our conversations I have added a task to the backlog  #279 to ensure we follow up on how the 6 redirect reasons is working for intake and what feedback and changes they have. With the creation of this task I will close this issue

[2021-07-30 22:45] #166 closed

[2021-07-30 22:46] JHarrietha-AOT commented on #221
Session 2 complete - see recording below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/Session%202%20-%20%20Kerry%20Ast%20&%20Alice%20Gillespie%20-%20SDRP%20-%20Thurs%20July%2029th.mp4

[2021-07-30 22:48] JHarrietha-AOT commented on #221
Session 3 complete - see recording below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/Session%203%20-%20Danny%20Courcy%20&%20Vicki%20Hudson%20-%20MUNI%20-%20Friday%20July%2030th.mp4

[2021-07-30 22:49] JHarrietha-AOT commented on #221
All session booked for this sprint have been completed and linked above. Closing issue with this comment

[2021-07-30 22:49] #221 closed

[2021-07-30 23:36] #241 closed

[2021-07-30 23:36] #246 closed

[2021-07-30 23:40] sumathi-thirumani-aot commented on #235
Changes in request-management-api
Implementation Approach:
1. Create schema bpmschema.py to roof up all interactions with BPM.
2. Create service bpmservice.py for all interactions with BPM. [Implementation support for integration of claim operation]
3. Changes in request.py to invoke claim on save request.

State Transition Information:
On successful claim; the state will get changed to "Intake in

[2021-07-30 23:41] sumathi-thirumani-aot commented on #235
PR: https://github.com/bcgov/foi-flow/pull/263

[2021-07-30 23:52] #235 closed

[2021-08-03 16:18] sumathi-thirumani-aot opened #281 "Camunda : Automate the deployment of FOI process"
Please provide an option to automatically deploy the FOI request processing processes along with deployment.

**Definition of Ready**

- [x] Operational team should not be manually deploying FOI Request processing process.

[2021-08-03 16:20] sumathi-thirumani-aot opened #282 "Camunda: Automate setting permission of service account"
Automate the limited permission setting of service account.

**Definition of Ready**

- [ ] Operational team should not be manually setting permissions for service account.

[2021-08-03 17:20] sumathi-thirumani-aot opened #283 "UI : Unable to differentiate the disabled and editable fields & highlight of active component to be done"
1. By default; all fields are shown styled as disabled; whereas it is editable.
2. Active component should be always be highlighted.

[2021-08-03 18:02] lmullane opened #284 "Generic correspondence design"
Title of ticket:

#### Description
Generic correspondence to contact an applicant, ministry client, IAO and log the correspondence in a correspondence log.

Include attachment of documents and attachment of letter templates.

#### Dependencies
Only for outbound emails.

Does not include assignment of reviews.

#### DOD
- [x] Side Bar design for Navigation to correspondence - Same Side Bar - Differ

[2021-08-03 18:06] #264 closed

[2021-08-03 18:06] #236 closed

[2021-08-03 18:06] #239 closed

[2021-08-03 18:06] #240 closed

[2021-08-03 18:06] #255 closed

[2021-08-03 18:06] #234 closed

[2021-08-03 18:06] #237 closed

[2021-08-03 18:36] mpilchar opened #285 "In-app comments"
## Description:

* As an FOI specialist (analyst or team lead)
* I want to be able to add comments on task assignments
* so that the task recipient has additional context on what is required

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
**Sizing*

[2021-08-03 19:02] m-prodan commented on #219
Based on responses from WG members as well as internal discussions - invites have been sent on the following schedule:

Thursday July 29th @ 11 AM - SDPR Generals (Accepted and Completed)
Thursday July 29th @ 3PM - SDPR Personals (Accepted and Completed)
Friday July 30th @ 1PM - MUNI Generals (Accepted and Completed)

August 4th @ 1PM - GCPE Generals (Confirmed)
August 5th @ 10 AM - CITZ (Confirme

[2021-08-03 20:04] JHarrietha-AOT commented on #176
Some things have been updated in sketch but not the prototype as there will be additional changes to come in the upcoming sprint which will change how these function in the prototype.

[2021-08-03 20:04] #176 closed

[2021-08-03 21:00] m-prodan commented on #219
@lmullane - do we want to consider this one closed? Based on responses, all invites have been sent out. I have followed up with Health as I didn't get a response from them and wanted to give them an opportunity if they are able - but otherwise all invites have been sent based on the initial canvass/response.

[2021-08-03 21:15] lmullane commented on #219
Yes, let's close

[2021-08-03 21:15] #219 closed

[2021-08-03 21:15] mpilchar opened #286 "Determine tool for automated testing"
#### Description
Determine tool for automated testing

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Look into a licence - cost vs time savings
- [ ] Discuss with team
- [ ] Determine this sprint what best go-forward option is
- [ ] Implement
- [ ]

[2021-08-03 22:45] #21 closed

[2021-08-03 22:45] #77 closed

[2021-08-03 22:45] #128 closed

[2021-08-03 22:45] #249 closed

[2021-08-03 22:45] #250 closed

[2021-08-03 22:59] m-prodan commented on #252
closing #252 - issue no longer present

[2021-08-03 22:59] #252 closed

[2021-08-04 16:27] lmullane commented on #30
As discussed, we will create the request which will become 'Intake in Progress." Analyst will have to Open it as they do any request.

[2021-08-04 16:50] abin-aot commented on #30
Comments from refinement
 - For Personal requests, Child's FirstName, LastName is NOT mandatory to Capture
- For Personal requests, Another Person's FirstName, LastName is NOT mandatory to capture

[2021-08-04 17:25] JHarrietha-AOT commented on #284
Based off of Sprint Planning - Aug 4th

**Need to focus on the idea of having a Colour Coordinated - state based - Side Bar**
This will give the visual difference of having a an unopened request. It will also allow for the option in the side bar to be adjusted based on which state the request is in.

[2021-08-04 17:52] lmullane opened #288 "Search by request state on the Queue"
* As an analyst or ministry client
* I want to be able to search the queue by request state
* so that I can find all the requests in one state (e.g. Open, Call for Records)

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: Search by state**
* GIVEN an analyst is on the queue
https://jacklyn808742.invisionapp.com/

[2021-08-04 21:02] JHarrietha-AOT commented on #222
2 - Session 1 - Justin Smith - GCPE - Wed Aug 4 - no recording - participant preferred to not have the session recorded

[2021-08-04 21:55] sumathi-thirumani-aot commented on #281
Implementation Details: Add processes which are to be auto-deployed in classpath.

PR : https://github.com/bcgov/foi-flow/pull/290

[2021-08-04 21:57] m-prodan opened #291 "Save Change Modal Prompt When no Edits Made"
**Describe the bug in current situation**
The modal stating "Are you sure you want to leave? Your changes will be lost" - occurs in certain scenarios when no edits have been made to the data

**Link bug to the User Story**
Linked to #128 save a request

**Impact of this bug**
Minimal impact - modal pops up when no edits have been made, may be confusing to an analyst.

**Chance of Occurring (high/m

[2021-08-04 22:01] #281 closed

[2021-08-04 22:02] lmullane opened #292 "Assign Open Request to Flex Team"
* As an analyst
* I want to be able to assign a request to a known user/group in the system
* so that the user can take action

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

Not in scope - what members of a team (aka keycloak group) sees in the queue when they login and what they have permissions to search for. This will be handled by a different s

[2021-08-04 22:12] abin-aot opened #293 "BACKEND API updates for Create Request #30"
Title of ticket:

#### Description
This task is for updating/creating(if required) API endpoint for "Create Request" scenario. As per the tech. discussion, for this scenario we will be utilizing existing Save Request API endpoint to complete this functionality, since they are too close in features. But Modifications need to be done for Save RAW Request API, GET RAW Request API since the existing v

[2021-08-04 22:24] abin-aot opened #294 "DB Model Update - Code First Approach - For open a request #33"
Title of ticket:

#### Description
The purpose of this task is to bring up DB Model/Entities  for flushing data into appropriate tables as per the Data Model. Data Model is only reference purpose , additional information, fields need to be added as required. Say, Versioning Columns, Column for recording Workflow instance for OPEN requests.

#### Dependencies
Are there any dependencies? - No

####

[2021-08-04 22:38] abin-aot opened #296 "POST API - OPEN REQUEST (#33)"
Title of ticket:

#### Description
This task is for creating python API for POSTing open request. The logic is to flush the data into the newly created tables as per #294. The Parent/Raw request will get "Archived" status, and a new request(proper) will be created on LOB DB tables with version, referential integrity etc.

Cases need to be handled - "Archival" of existing/raw request, transition fr

[2021-08-04 22:42] abin-aot opened #297 "GET API - Open request (#33)"
Title of ticket:

#### Description
This task is for creating GET API for the opened request

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Service Layer
- [x] Resource layer
- [x] Unit Tests
- [ ]
- [ ]

[2021-08-04 22:50] abin-aot opened #298 "PUT API - Open Request"
Title of ticket:

#### Description
This is placeholder task as of now, in case we need an API /PUT API for WF instance update while opening request.

On click of "Open Request", the raw request would be captured in actual transaction tables "FOI Requests". On successful navigation from raw request processing to request processing workflow; the API to update workflow instance will happen.

#### Dep

[2021-08-04 23:16] abin-aot commented on #33
@lmullane @m-prodan  - Between the planning, I was trying to understand the scenario that while we go to Prod/MVP release with only 1 pilot ministry. Then while processing the FOI submission if multiple

[2021-08-04 23:26] m-prodan commented on #33
Thanks @abin-aot - assume you are meaning that until the pilot Ministry is selected and ready to go - for purposes of a test, the application will just default to the first Ministry selected alphabetically when multiple are picked?

[2021-08-04 23:42] abin-aot commented on #33
@m-prodan - No, Scenario 4 will not be there. We will open for all selected ministries. If we restrict it to a single one, then we will not be able to open the FOI submission that has more than 1. Technically, nothing is stopping us to implement this.

[2021-08-04 23:48] m-prodan commented on #33
Ok we should discuss quickly at standup tomorrow.

[2021-08-05 15:31] divyav-aot opened #301 "FE tasks for Create Request"
Title of ticket:

#### Description
Create request front end tasks

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Create Request Button in dashboard
- [x] component invoke for Form
- [x] Mandatory field updates
- [ ] API integration

[2021-08-05 15:32] divyav-aot opened #302 "Create request unit test cases"
Title of ticket:

#### Description
Summarize issue

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] unit test case for create request
- [ ]
- [ ]
- [ ]
- [ ]

[2021-08-05 15:34] divyav-aot opened #303 "FE tasks for Open request (#33)"
Title of ticket:

#### Description
FE tasks for Open request

#### Dependencies
#296

#### DOD
- [x] POST API integration
- [x] Confirmation Modal for Open request
- [x] GET API integration
- [x] Day remaining calculation
- [x] Change Assigned to dropdown to label
- [x] dashboard GET API integration

[2021-08-05 15:38] JHarrietha-AOT commented on #247
Design Complete for Creating a request.

Updated Queue: https://jacklyn808742.invisionapp.com/console/share/3W2O64AP5C/657932451

Updated Request Review Page: https://jacklyn808742.invisionapp.com/console/share/3W2O64AP5C/736503621

[2021-08-05 15:38] #247 closed

[2021-08-05 15:39] JHarrietha-AOT commented on #30
Design links have been updated with completed designs for adding a new request

[2021-08-05 15:41] m-prodan opened #304 "iStore Order - Service Account and Mailbox"
Title of ticket:

#### Description
Team will require a new service account and mailbox for future development sprints.

#### Dependencies
n/a - just turnaround time through iStore

#### DOD
- [ ] iStore order requirements determined with IMB
- [ ] iStore order submitted
- [ ] iStore order completed

[2021-08-05 15:42] m-prodan commented on #304
iStore order submitted for:
Service Account/Mailbox First Name: Test_FOI
Service Account/Mailbox last name: Requests

email account expected to be: test_foi.requests@gov.bc.ca

[2021-08-05 16:13] sumathi-thirumani-aot commented on #282
Algo:
1. Check permissions of service account for : deployment, process definition, decision definition, process instance and task.
2. Add permissions for missing our of allowed list (deployment, process definition, decision definition, process instance and task.)

[2021-08-05 16:13] sumathi-thirumani-aot commented on #282
PR: https://github.com/bcgov/foi-flow/pull/300

[2021-08-05 16:13] #282 closed

[2021-08-05 16:14] sumathi-thirumani-aot opened #305 "Camunda : Workflow changes for create request (#30)"
On the **Create Request** flow, listed are the functional behavior.

#### DOD
- [x] Successfully create workflow instance
- [x] Update the raw request record with the workflow process instance ID and notes **Workflow ID update**
- [x] Assign the request to staff submitted the create request
- [x] Update the latest raw request record with status **Intake in Progress** and notes **Status Update**

[2021-08-05 16:23] sumathi-thirumani-aot opened #306 "API : Changes required to do server side pagination and search & sorting."
Currently, all raw requests are fetched in a single call; and (search/sort) are being handled in client tier. This to be done on server side with pagination.

[2021-08-05 18:25] mpilchar opened #308 "Prep for Ministry pilot"
Determine and set the criteria and foundation for a ministry or sector to pilot our application

#### Dependencies
Timing - Capacity and leadership considerations within IAO should be factored into timing (earliest November?)
STRA sign off
Third party vulnerability testing

#### DOD
- [ ] Support from IAO exec (meeting: Aug 5/21)
- [ ] Discuss with IAO team leads
- [ ] Outreach to MUNI and EDUC ex

[2021-08-05 20:33] m-prodan commented on #68
Met with PCT today, August 5th - PIA is currently awaiting sign-off. Expectation: this may just be an initiative update to the existing PIA, as collect use and disclosure are not changing, just the technology to support that. Mindy Attwood now assigned to the PIA, expect resolution soon, but no significant concerns raised from PCT perspective. Sign-off may be dependent on STRA.

[2021-08-05 20:35] JHarrietha-AOT commented on #222
2 - Session 2 - Jackie Biggs - CITZ - Thurs Aug  - RECORDING BELOW

5https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%202%20-%20Jackie%20Biggs%20-%20CITZ%20-%20Thurs%20Aug%205.mp4

[2021-08-05 22:17] lmullane commented on #288
QA complete, story met AC.

[2021-08-05 22:17] #288 closed

[2021-08-05 22:32] lmullane commented on #123
Hey @m-prodan , any status updates on this?

[2021-08-05 22:33] lmullane commented on #48
PCT signed off.

[2021-08-05 23:06] m-prodan commented on #200
@JHarrietha-AOT - I started QA'ing this one - it looks like they've hit the mark with the UI changes needed (will defer to you on this!), but request queue filtering (generals/personals) appears to be broken now.

[2021-08-06 15:18] JHarrietha-AOT commented on #222
2 - Session 3 - Tami Balsom & Samuel McGrew - FLNR - Thurs Aug 5 - RECORDING LINK BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%203%20-%20Tami%20Balsom%20&%20Samuel%20McGrew%20-%20FLNR%20-%20Thurs%20Aug%205.mp4

[2021-08-06 16:31] m-prodan commented on #200
@divyav-aot - as discussed at stand-up, request queue filtering on radio buttons (general/personal) no longer appears to be working. Tested and replicated on multiple browsers (Brave, Chrome, Edge)

[2021-08-06 16:53] m-prodan commented on #30
@lmullane - I am just getting ahead of things, and filling out the QA tests for this story in the master table so we don't have to do it once it's ready for QA. I am thinking we should merge scenario 2 and 3 since they are both regarding mandatory fields?

[2021-08-06 18:11] lmullane commented on #186
Thoughts on role based access:

IAO staff can:
- queue will can be filtered by user, team or all requests
- view and edit all request fields for any request (only requests assigned to user? team?)
- change the state of a request for any request
- view but not edit correspondence in the correspondence log
- make comments, view but not edit historical comments
- View stats/analytics for any ministry

[2021-08-06 18:29] m-prodan opened #313 "FileWatcher - Bug Report Consolidation"
**Describe the bug in current situation**
This ticket will be used to record and track instances where filewatcher conversions are not occuring as expected and/or issues with the log file.

**Link bug to the User Story**

**Impact of this bug**
Anticipate this will be a collection of edge cases for monitoring and determining future direction based on value.

**Chance of Occurring (high/medium/low/

[2021-08-06 18:39] m-prodan commented on #313
\ARR\In_Coming\IRR-2021-12470 - Judy Law\(Filewatcher - Do Not Use)

Good morning,
Many of these excel files in this records response failed according to the FW log.
Just passing along for your FYI.

Note from Matt: I have access to this folder and attempted to replicate. Creating a new folder and moved the failed files into it - conversion did occur when I did this, however, not all tabs printed,

[2021-08-06 20:18] JHarrietha-AOT commented on #222
2 - Session 4 - Melissa Morgan & Anne Sum - FIN - Fri Aug 6 - RECORDING BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%204%20-%20Melissa%20Morgan%20&%20Anne%20Sum%20-%20FIN%20-%20Fri%20Aug%206.mp4

[2021-08-06 20:37] m-prodan commented on #200
@divyav-aot - confirmed, filtering is working - thank you!

Will defer to @JHarrietha-AOT prior to closing this ticket, but I am satisfied with changes

[2021-08-09 14:42] JHarrietha-AOT commented on #222
2 - Session 5 - Lynette Linkletter - FIN - Fri Aug 6 - RECORDING BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%205%20-%20Lynette%20Linkletter%20-%20FIN%20-%20Fri%20Aug%206.mp4

[2021-08-09 17:12] JHarrietha-AOT commented on #200
@divyav-aot just reviewed the bug criteria, my only comment would the the column spacing.

I think XGOV could be moved further to the right. Which would allow for more spacing between Current Status - Assigned to - Received Date. I also think Applicant Name should have more space, as for testing we are typing in shorter names but in reality applicants could have long names and we would want as muc

[2021-08-09 17:57] m-prodan commented on #200
@JHarrietha-AOT - I put in a request with a long name to see. Now I probably used too long a name for it to be a realistic scenario. But I see what you mean now, someone with a longer last name might get cut-off and if we can salvage some extra space it would make sense to add it to the applicant name to help mitigate that issue.

Looking at it again, I definitely see what you mean with the column

[2021-08-09 17:59] JHarrietha-AOT commented on #200
@divyav-aot how long do you think updating the columns will take?

[2021-08-09 18:28] divyav-aot commented on #200
@JHarrietha-AOT - I just updated the spacing. now pushing the changes to dev. once tested will push to test.

[2021-08-09 18:58] lmullane commented on #200
Thanks, @divyav-aot

[2021-08-09 19:01] JHarrietha-AOT commented on #200
Thanks @divyav-aot so fast. Let me know when its ready in test and I'll have a look

[2021-08-09 19:07] JHarrietha-AOT commented on #222
2 - Session 6 - Teresa Latzel - AG - Mon Aug 9 - RECORDING RELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%206%20-%20Teresa%20Latzel%20-%20AG%20-%20Mon%20Aug%209.mp4

[2021-08-09 19:34] sumathi-thirumani-aot commented on #305
Workflow changes:

FOI Raw Request Processing BPM has been modified to decouple the service task and do interactions using messaging.

![image.png](https://images.zenhubusercontent.com/6081aecd755ce5720b249eb2/339613f6-1746-4eed-8c3d-ce44818ceed0)

[2021-08-09 19:35] sumathi-thirumani-aot commented on #305
API hander process to extract and manage all separation of concerns like authentication, exception handling unified.

![image.png](https://images.zenhubusercontent.com/6081aecd755ce5720b249eb2/d8af320b-ab31-426a-b217-69e615c7daa1)

[2021-08-09 19:35] sumathi-thirumani-aot commented on #305
PR: https://github.com/bcgov/foi-flow/pull/317

[2021-08-09 19:37] divyav-aot commented on #200
@JHarrietha-AOT  - the changes are pushed to test.

[2021-08-09 19:49] JHarrietha-AOT commented on #200
@divyav-aot Changes look great, thanks for making this update so quickly! I will close this bug ticket with the approved final change.

[2021-08-09 19:49] #200 closed

[2021-08-09 20:15] sumathi-thirumani-aot opened #318 "Camunda - Multi instance for open request #33"
Upon opening a request; based on number of ministries chosen; the equivalent number of instances to be created for tracking.

#### DOD
- [ ] Update Raw request status to "Archived"
- [ ] Create equivalent number of instances for ministries
- [ ] Default the status of newly created instances to "Active"
- [ ] The task name of instances should be able identify the ministry.

[2021-08-09 21:15] JHarrietha-AOT commented on #222
2 - Session 7 - Brooke McCunn & Alexandra Kavadas - ENV - Mon Aug 9 - RECORDING BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%207%20-%20Brooke%20McCunn%20&%20Alexandra%20Kavadas%20-%20ENV%20-%20Mon%20Aug%209.mp4

[2021-08-09 21:16] lmullane commented on #48
This is complete. Counter signed version sent to PCT for their records.

[2021-08-09 21:16] #48 closed

[2021-08-09 21:53] sumathi-thirumani-aot commented on #30
PR : https://github.com/bcgov/foi-flow/pull/320

[2021-08-09 22:22] lmullane commented on #30
@sumathi-thirumani-aot, thanks for getting this into TEST.

@m-prodan and I will QA now.

[2021-08-09 22:37] m-prodan commented on #181
@abin-aot  - IMB advised we can expect access to 10.7 by EOD Wednesday - will report back if I hear anything different!

[2021-08-09 22:47] #301 closed

[2021-08-09 22:47] #305 closed

[2021-08-09 22:47] #293 closed

[2021-08-09 22:48] lmullane commented on #30
Tested and all the scenarios worked as expected. @m-prodan, let me know how it goes for you?

[2021-08-09 22:54] lmullane commented on #30
@sumathi-thirumani-aot, @abin-aot

Hmmm, was doing some other testing and when I 'Saved' a request submitted online the status became 'Assignment in Progress" instead of "Intake in Progress"?

What's "Assignment in Progress"?

[2021-08-09 23:00] m-prodan commented on #30
@lmullane - I created a personal and general request without issue - both works and are in the queue.

The one item I'll flag is that I noticed some text that persists after the request is saved, giving instructions to only include one piece of contact information. I don't think we need to spell it out like that (and it doesn't match the design), Intake will know they need to enter at least one pi

[2021-08-09 23:17] lmullane commented on #30
Yeah, the text is on an online request too, even though the info is pre-filled.

@JHarrietha-AOT, do we need the text message or could we just have a the red boxes around contact criteria, and have them disappear once one thing was filled?

I'm find with 'Add Request.'

[2021-08-09 23:21] m-prodan commented on #30
Yes just noticed that now when I went into my online submission.

The first request I submitted online and saved, it went to Intake in Progress as expected. When I went to a request that was already unopened, and saved it - I got the "Assignment in Progress" status:

![image.png](https://images.zenhubusercontent.com/6081a4c82f0c363dddb9c1a0/b7eadaf5-a670-4b49-8839-8ada673cd820)

[2021-08-09 23:23] JHarrietha-AOT commented on #30
@lmullane I agree, I don't think the text at the top is enough of a visual indicator of what is missing. I think the message should be in red in the Address and Contact Information Section. And have the missing boxes outlines in red. Once one is completed then the red can disappear.

[2021-08-09 23:25] JHarrietha-AOT commented on #30
Also as a note I am getting the toast message saying the request has been successfully saved when it is not, as there is no contact information

[2021-08-09 23:25] divyav-aot commented on #30
@lmullane and @JHarrietha-AOT  - We many not be able to highlight the contact boxes as it is either one should be provided not all. That is why given a common message in the top and colored it based on the validation.
Regarding "Assignment in progress" - we will check this issue.

[2021-08-09 23:26] divyav-aot commented on #30
@JHarrietha-AOT  - Save button will not be enabled if none of the contact information is given. Is it not like that?

[2021-08-09 23:29] JHarrietha-AOT commented on #30
@divyav-aot The save button is enabled if there is not contact information completed, and I click save and get the 'Successfully Saved' Toast. But there is the message at the top saying a need contact information. So it is not actually saved.

[2021-08-09 23:48] lmullane commented on #30
@divyav-aot , @JHarrietha-AOT, what if we put a red border around the entire 'ADDRESS AND CONTACT INFORMATION' and removed it when enough of the fields were filled (i.e. email vs street address, postal code, city, country)?

[2021-08-09 23:51] JHarrietha-AOT commented on #30
@lmullane I think thats a good solution. We need a visual indicator for users to know the fields that need to be filled out. The text currently doesn't connect enough at the top of the page @divyav-aot

[2021-08-09 23:52] lmullane commented on #30
That's the direction I'd like to go. Red around the email and the contact information, and once one is filled we can remove the red border around the other. That would be consistent with the other mandatory fields.

[2021-08-09 23:58] divyav-aot commented on #30
@JHarrietha-AOT , @lmullane  - ok. it is possible to give red border for the entire box. What about email? email or address is mandatory right? If we give red border for email and contact box then it is not what we expect right?

[2021-08-09 23:59] divyav-aot commented on #30
@JHarrietha-AOT , @lmullane  and @m-prodan  - can you share the issues with steps to reproduce?

[2021-08-10 00:02] JHarrietha-AOT commented on #30
@lmullane Exactly red around the fields would be constant with other mandatory fields. A red border around the entire box isn't really constant with other mandatory fields and makes it seem like that section is more important then others - also that the entire section must be completed which isn't true.

Should we add this under Scenario 3? And Scenario 3 is currently not being met as per my above

[2021-08-10 00:05] abin-aot opened #322 "MSG File Parser Development & Excel, ICS File Conversion integration (#138)"
Title of ticket:

#### Description
This development task is related with the user story #138.  The task is to create a code component which recognizes email files(.msg) and parse those files to understand whether there are any attachments of file types include in problematic files like excel(.xls(x) or .ics), if yes convert those and place inside the folder

#### Dependencies
Are there any depende

[2021-08-10 01:13] divyav-aot commented on #30
@JHarrietha-AOT  - Thanks Jackie. I will check this issue.
@m-prodan  - can you share the details on "Assignment in progress" state. how to reproduce that?

[2021-08-10 16:23] divyav-aot opened #323 "Bug from QA - Create request"
Title of ticket:

#### Description
Bugs found during QA

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Assignment in progress state shows in request queue
- [x] Contact information validation not working
- [x] remove assignedto dropdown from dashboard

[2021-08-10 16:49] lmullane opened #324 "Status on REQUEST VIEW not updating after a SAVE"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**

**Pre Conditions: which Env, any pre-requesites or assumptions to execute steps?**

**Steps to Reproduce**
Steps to repro

[2021-08-10 17:47] abin-aot commented on #186
**Technical Aspects**

1. Unauthorized access
2. CORS handling
3. JWT , auditing - logging into DB who updated or created what on what time
4. Race condition elimination - if already assigned, DB check to do confirm and ask for the re-assignment
5. Restrict Front End components  by groups/permission.

[2021-08-10 18:10] #123 closed

[2021-08-10 18:10] m-prodan commented on #123
Per message from Alexander Punnet today - iStore order is complete, all 3 domains should be ready for use. Closing ticket (finally!)

[2021-08-10 18:39] lmullane opened #327 "Conditional fields for contact information"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

Not really a bug but easier to track in this template.  Change how we manage conditional mandatory fields to be consistent with other mandatory fields.

**Link bug to the User Story**
#30 Create a Request

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

[2021-08-10 18:47] lmullane opened #328 "Drop down does not open when you click arrow for Request fields"
**Describe the bug in current situation**
A clear and concise description of what the bug is.

**Link bug to the User Story**
#128 Save a Request

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

Low. Not meet user expectation and inconsistent with clicking on Calendar icon for dates.

**Chance of Occurring (high/medium/low/very low)**

High.

**P

[2021-08-10 19:01] lmullane opened #329 "'Received Mode' automatically 'Online Form' for request received online"
* As an Intake analyst
* I want the 'Received Mode' for a request received online to be autofilled with 'Online Form'
* so that I do not need to select the Received Mode

**Assumptions & Scope**
What are the assumptions for this story?

Auto-fill will only be for requests received through Online Form

What is in and not in scope?

Requests not received through Online Form are not in scope.

The an

[2021-08-10 19:03] lmullane commented on #329
@m-prodan, should an analyst be able to select 'Online Form' as the Received Mode for a request that was not received through the online form?

@abin-aot, is there any recovery reason we would need to allow an analyst to do this? For example, if a the API from the webform captures the request into the database but not the UI. Assume we fix this on the backend so the requests were displayed in the

[2021-08-10 19:19] m-prodan commented on #329
@lmullane - that makes sense to me. In the new system, there shouldn't be a need to select online form when they are creating a request.

That said, I suppose we could just have it at the bottom, but perhaps greyed out for now? I can't imagine a scenario where we'd use it, unless there was a temporary issue with requests not getting captured properly.

[2021-08-10 23:45] m-prodan opened #330 "FOI Request Received Date Not Calculating"
**Describe the bug in current situation**
FOI Request submitted through the form after 4:30 PM should reflect the next business day as the received date.

**Link bug to the User Story**

**Impact of this bug**
Any request received after 4:30 PM will need to have the received date changed. Current UI does not allow intake to know time request was received though, so this should be handled in back-e

[2021-08-11 15:32] #212 closed

[2021-08-11 18:51] JHarrietha-AOT commented on #222
2 - Session 8 - Cole Johnston - EMBC - Wed Aug 11 - RECORDING BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%208%20-%20Cole%20Johnston%20-%20EMBC%20-%20Wed%20Aug%2011.mp4

[2021-08-11 23:10] JHarrietha-AOT commented on #222
2 - Session 9 - Carrie Preziuso - EDUC - Wed Aug 11 - RECORDING BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20-%20Research%20-%20Recording/2%20-%20Session%209%20-%20Carrie%20Preziuso%20-%20EDUC%20-%20Wed%20Aug%2011.mp4

[2021-08-11 23:23] m-prodan commented on #328
I've tested this and confirm the drop down buttons are functioning as expected.

[2021-08-11 23:24] m-prodan commented on #291
I've tested, and am not seeing the modal pop up now when no edits have been made.

[2021-08-11 23:25] m-prodan commented on #324
I've tested on a created and online form request. Both update to 'Intake in Progress' when saved.

[2021-08-11 23:31] lmullane commented on #324
Thanks, @m-prodan and @divyav-aot

[2021-08-11 23:36] lmullane commented on #328
Worked for me as well.

[2021-08-11 23:36] lmullane commented on #328
@divyav-aot, could you put an estimate on all of these bugs:)

[2021-08-11 23:36] lmullane commented on #324
Worked for me as well.

[2021-08-12 16:16] sumathi-thirumani-aot commented on #296
Scenario: Create new record
Sample Http Mock:
POST http://localhost:15000/api/foirequests
{
  "requestData": {
    "requestType": {
      "requestType": "general"
    },
    "ministryRequests":[
      {
         "description":"Ministry of Advanced Education and Skills Training",
         "fileNumber":"foi",
         "dueDate":"2021-10-14",
         "assignedTo":"sumathi",
         "programAreaId":

[2021-08-12 16:17] sumathi-thirumani-aot commented on #296
Scenario: Create revision
Sample Http Mock:
POST http://localhost:15000/api/foirequests/12
{
  "requestData": {
    "requestType": {
      "requestType": "general"
    },
    "ministryRequests":[
      {
         "description":"Ministry of Advanced Education and Skills Training",
         "fileNumber":"foi",
         "dueDate":"2021-10-14",
         "assignedTo":"sumathi",
         "programAreaId"

[2021-08-12 16:29] #323 closed, assigned to divyav-aot

[2021-08-12 16:31] abin-aot commented on #313
Logged an issue with Syncfusion , https://www.syncfusion.com/support/directtrac/incidents/339258

[2021-08-12 17:04] lmullane commented on #33
@abin-aot, AC updated as discussed.

[2021-08-12 20:11] JHarrietha-AOT commented on #222
2 - Session 10 - Justine Nisbet - PSSG - Thurs Aug 12 - RECORDING BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20&%207%20-%20Research%20-%20Recording/2%20-%20Session%2099%20-%20Justine%20Nisbet%20-%20PSSG%20-%20Thurs%20Aug%2012.mp4

[2021-08-12 20:11] JHarrietha-AOT commented on #222
All sessions to be completed in this ticket have been completed and links above for reference.

[2021-08-12 20:11] #222 closed

[2021-08-12 21:13] lmullane commented on #330
I'll test after 430.

[2021-08-12 21:59] lmullane commented on #186
Ministries may need permission to update the 'Request Due Date' in case of extensions. cc @m-prodan

[2021-08-13 20:53] m-prodan commented on #138
QA complete - all scenarios working as expected.

Of note: bug found when dragging emails directly from outlook, discussed with @mpilchar @lmullane and @abin-aot - agreed bug report will be written up and considered for future sprint.

Are we good with closing? I confirmed all scenarios work in every PB folder - and ran a regression test on prior functionality in one folder. All passed.

[2021-08-13 20:56] lmullane commented on #138
Good to close, @m-prodan

Thanks for doing the QA.

[2021-08-13 22:29] m-prodan commented on #330
@lmullane - did you submit a request yesterday after 430? I neglected to do so, but have set a reminder to do so today!

Today will be a good test actually - the date should reflect the next business day, which would be monday - so received date should show as August 16th.

[2021-08-13 23:37] m-prodan commented on #330
Submitted request at 4:34PM

Received date in review request is August 16th as expected.

BUT - @divyav-aot - I notice the date in the queue says August 13th, so there is a discrepancy between the queue and the received date on the request itself.

[2021-08-14 00:29] mpilchar opened #339 "File Conversion: No pdf generated if email is dragged from Outlook to Test LAN (#138)"
**Describe the bug in current situation**
We were testing for emails containing excel or ical attachments. When the email is dragged directly from Outlook to a newly created folder on the LAN, File Watcher does not generate an output. Log registers the file upload but notes "exception" in the Comment column. See \\pelican\testfoishare\AED\Call for Records\AED-20210812-1607\Log for an example. File

[2021-08-14 00:42] divyav-aot commented on #330
@m-prodan - Either we can track it in this same bug or can create a new one. This need few more changes to the API. I will update the effort if we are keeping this bug open.

[2021-08-16 16:29] sumathi-thirumani-aot commented on #318
Changes in "Raw Request Processing" to "Complete and Archive".
![image.png](https://images.zenhubusercontent.com/6081aecd755ce5720b249eb2/5c01352d-350d-41b5-aca3-dbfa181d1da4)

[2021-08-16 16:30] sumathi-thirumani-aot commented on #318
New workflow to create dynamic instances for ministries chosen.
![image.png](https://images.zenhubusercontent.com/6081aecd755ce5720b249eb2/a82dc6d8-cabd-4b1f-a614-aca7b11de032)

[2021-08-16 16:32] sumathi-thirumani-aot commented on #296
Archiving of raw request will happen from workflow.

[2021-08-16 22:44] mpilchar opened #346 "Toggle capabilities on left navigation pane"
* As a FOI analyst
* I want the ability to toggle between menu options on the left-side navigation panel
* so that it's faster and easier to navigate

**Assumptions & Scope**
User is on a page that displays the side navigation view, having clicked on any view options from the home (queue) page

What is in and not in scope?
- Pages will have been built already. This only includes the ability to cli

[2021-08-16 23:06] mpilchar opened #349 "Toggle functionality in the Correspondence Log"
* As a FOI Analyst
* I want to be able to toggle between my "sent" correspondence and "draft" correspondence
* so that it's easier to see if a communication has been completed and sent or is still in it's draft (unsent) form

**Assumptions & Scope**
User has privileges to view Correspondence Log, will be on the Log.

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: Toggle from

[2021-08-16 23:08] #322 closed

[2021-08-16 23:43] mpilchar opened #351 "Create left side navigation panel"
## Description:
- The left sidebar will appear after the user leaves the home queue, appearing once the intake process is underway and remaining in view throughout the user's journey within the system. It is colour-coded to show what stage of the workflow the request is in.

* As a FOI analyst
* I want a left navigation sidebar
* so that I can easily view and access all stages of a request from an

[2021-08-17 00:54] mpilchar opened #353 "Contact an Applicant button"
* As an FOI Intake Analyst
* I want to Contact an Applicant
* so that I can receive clarification on their request

**Assumptions & Scope**
Analyst has clicked on an unopened request in the queue of the homepage
"Review request" is currently selected in the left sidebar

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: Contact Applicant from Review request screen**
* GIVEN ...

[2021-08-17 15:37] mpilchar opened #354 "Navigate to request from queue"
* As a FOI Analyst
* I want to open a request in the queue
* so that I can review it

**Assumptions & Scope**

What is in and not in scope?
What about 'Intake in Progress'?

**Acceptance Criteria**

**Scenario 1: Click on unopened General request in queue**
* GIVEN ... I am on the queue screen and have clicked on request with "Request Type: General" ​and Status: Unopened"
https://jacklyn808742.inv

[2021-08-17 15:41] JHarrietha-AOT commented on #284
Prototype Update complete and can be viewed here: https://jacklyn808742.invisionapp.com/console/share/3W2O64AP5C/657932449

Reviewed with team in Design review meeting yesterday prior to closing. All changes discussed then have been made.

[2021-08-17 15:41] #284 closed

[2021-08-17 15:44] JHarrietha-AOT opened #355 "UX Ministry Research Sessions, Round 3"
Description
Conduct research sessions with participants. Each session will have a note taker. Synthesize results is a separate ticket.

Dependencies
Availability of Ministry clients, they will be given a 1 month window to select a time and date were they are available

DOD (list sessions as they get booked)
- [ ] 3 - Session 1 - PARTICIPANT NAME - HTH - TBD
- [ ] 3 - Session 2 - PARTICIPANT NAME -

[2021-08-17 16:19] #296 closed

[2021-08-17 16:20] #99 closed

[2021-08-17 16:20] #297 closed

[2021-08-17 16:20] #303 closed

[2021-08-17 16:20] #294 closed

[2021-08-17 16:23] #318 closed

[2021-08-17 18:09] abin-aot commented on #292
@lmullane @m-prodan  - So as per scenario 3 and 4, the assignee dropdown list will have ministry FOI coordinators listed on a FOI request of status "Open".  I prefer to discuss this in detail, if my above statement is valid, then Intake/ IAO staff has to go inside the "opened request" to reassign to ministry FOI coordinator.  Ideal condition is to - bring up a UX to select the assignee on the Mini

[2021-08-17 18:16] abin-aot commented on #353
@mpilchar Assumptions : This user story don't have any actual emailing task, this is only visual purpose, Right? Because, there are few dependencies here like, Emailing Mechanism need to be finalized . Secondly, current UX need to be updated with the latest left panel , color coded style - @divyav-aot thoughts?

[2021-08-17 18:27] abin-aot commented on #329
@lmullane @m-prodan  - Yes, we can make Received Mode default to Online, when a request is submitted through our Front End FOI Submission app. Sorry, we missed that!.

[2021-08-17 19:17] mpilchar opened #357 "Release planning - meetings and prep"
#### Description
There are a number of meetings and communications needed as part of release planning

#### DOD - meetings have been scheduled
- [x] Draft high level user stories for remaining epics (Th Aug 19, Matt and Molly)
- [x] Review above user stories (W Aug 25) - Loren, with Matt
- [ ] Meeting (~Th Aug 26): Review epics with IAO team leads (Matt to set up)
- [x] Meeting (~F Aug 27): Review

[2021-08-17 21:01] mpilchar commented on #292
@abin-aot @acoard-aot @m-prodan @divyav-aot @sumathi-thirumani-aot @JHarrietha-AOT @arielleandrews Hey team! Can you please add your [planning poker estimates with ZenHub](https://app.zenhub.com/workspaces/FOI-flow-607f0ab6ae54b700111dc733/issues/bcgov/foi-flow/292?planning-poker)

[2021-08-17 21:05] lmullane opened #359 "Update to BC Sans Typeface"
Title of ticket:

#### Description
Update typeface to BC Sans from the Design System: https://github.com/bcgov/design-system

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Update typeface to BC Sans
- [ ]
- [ ]
- [ ]
- [ ]

[2021-08-17 21:57] lmullane opened #360 "Assign Call for Records request to Ministry Team"
* As a Flex Team member
* I want to be able to do a CFR for a request
* so that I can assign it to the ministry FOI team

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: Assign to ministry 1**
* GIVEN a Flex Team analyst has clicked 'Assign a Request' for an open, general request
* WHEN the analyst clicks 'Assig

[2021-08-17 22:38] abin-aot commented on #313
@m-prodan The 3 problematic excel files stated above is getting converted now. We got a hot fix from syncfusion to handle the difficult scenarios within the  various excel sheets. Please try out

[2021-08-17 22:52] abin-aot commented on #181
Received DB access on 17/AUG via my _A account. Can see tables now. But waiting for API details from vendor - @lmullane @m-prodan

[2021-08-17 23:00] #70 closed

[2021-08-17 23:01] #44 closed

[2021-08-17 23:05] mpilchar commented on #83
@lmullane @abin-aot - Is this a duplicate? Can we close? We currently have the ability to filter by request #

[2021-08-17 23:21] abin-aot commented on #83
Search for FileNumber works now. But there are some related discussion need to happen with queuing logic, which might makes the Search different!
This is not duplicate , there should be a design in place to update the queuing logic from server and its pagination, search etc. But if we trimming the queuing by security then current design will be suffice because current logic will happily list at le

[2021-08-17 23:25] abin-aot commented on #306
We might not require this , if we API calls are done based on conditions. We can discuss about this

[2021-08-17 23:26] #210 closed

[2021-08-18 04:28] mpilchar opened #361 "Update homepage to enable return tp queue"
#### Description
Now that the navigation panel has been removed, we need to add a centre tile. When a user clicks on the centre tile, it will return them to the queue

#### Design
xxx

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-08-18 04:35] mpilchar opened #362 "Change "Create a request" button to "Add request" on queue"
Title of ticket:
Change "Create a request" button to "Add request" on queue

#### Description
This is just a name change; no other changes required
Change "Create a request" button to "Add request"

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-08-18 05:35] mpilchar opened #363 "Update prototype based on feedback from UX sessions"
Title of ticket: Update prototype based on feedback from UX sessions

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-08-18 05:36] mpilchar commented on #363
@JHarrietha-AOT Can you please add in notes for DOD for this. FYI ticket #135 was the last prototype card we created if you wish to refer back

[2021-08-18 16:26] sumathi-thirumani-aot commented on #298
Update of workflow instance ID
PUT http://localhost:15000/api/foirequests/1

{"wfinstanceId":"328a8914-f166-11eb-99bc-0a580a6161f7"}

[2021-08-18 16:28] sumathi-thirumani-aot commented on #298
Functionality: Update of ministry status

PUT http://localhost:15000/api/foirequests/1
{"selectedMinistries":[{"filenumber":"AFF-2021-13520", "status":"CFR"}]}

Response:
{
    "id": 1,
    "message": "Request updated",
    "status": true
}

[2021-08-18 16:52] #158 closed

[2021-08-18 17:51] abin-aot commented on #186
This is task is getting split into 5. based on refinement for Halifax

[2021-08-18 17:57] abin-aot opened #365 "CORS handling - set up Origin of access"
Title of ticket:

#### Description
Enables CORs on API side. Means, by implementing this technical design/component only required parties will call API endpoints(origins). we are doing this to restrict data hijacking and implement security for data in transit

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Implement a CORs framework,
- [x] Configure the origins comma separated, sinc

[2021-08-18 18:03] abin-aot opened #366 "Handling JWT - Authentication"
Title of ticket:

#### Description
This task will implement JWT tokens on API , which is passed from Front end. Based on the token, roles further steps will be done, Say, authorization,  storing auditing(updated by, created by) info to DB. API updates can

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Handle JWT Tokens
- [x] Validate and Authenticate Token
- [x] Refine existing aut

[2021-08-18 18:34] mpilchar opened #368 "Avoiding duplications in request assignment"
* As an Intake Analyst
* I want to ensure I am the only person working on a new request
* so that the same request does not get actioned more than once

**Assumptions & Scope**
Could be a notification alerting that the request is in review
Considerations: Technical effort may outweigh the benefit of having this feature (for discussion with PO)

What is in and not in scope?

**Acceptance Criteria**

[2021-08-18 18:35] mpilchar commented on #368
FYI @abin-aot @sumathi-thirumani-aot @acoard-aot @divyav-aot @JHarrietha-AOT Based on discussions during sprint planning today, I have created this task for our backlog.

[2021-08-18 21:39] sumathi-thirumani-aot opened #370 "Caching of master data and KC details at application level"
Currently; data is fetched runtime for all accessed scenarios like example: receivedMode, delivery mode, KC groups , members etc. They are potential candidate of caching.

<<To be discussed and elaborated more>>

[2021-08-18 22:29] m-prodan commented on #33
@divyav-aot @abin-aot @sumathi-thirumani-aot

Will need to send this one back for review - found issues quickly:

First, when I submitted request on online form, the received date on the queue had tomorrow's date:

![image.png](https://images.zenhubusercontent.com/6081a4c82f0c363dddb9c1a0/e8ea7ea9-7278-4751-89d7-b1b1ec52c071)

Now as you can see in review request view, the actual received date cor

[2021-08-19 00:14] abin-aot opened #373 "Analysis on UI Components for vertical Tab/panel , Material UI vs Custom Made (#346)"
Title of ticket:

#### Description
Checking the best feasibility of any existing react vertical UI  tabs vs the custom vertical tab
#### Dependencies
Are there any dependencies?

#### DOD
- [x] Analysis the NPM packages for vertical tabs, possibility of customization, maintenance etc.
- [x] Look for sample implementation and cross check our web front end, dependencies etc. if there are any conflic

[2021-08-19 00:20] abin-aot opened #374 "Development of Left Panel Component"
Title of ticket:

#### Description
Creation of the react component for Left Panel that accepts properties/state for status and other request specific components

#### Dependencies
Are there any dependencies?

#### DOD
- [ ]  Completion of Left Panel react component as indicated
- [ ]  No need to Full styling, since styling and UI parts of responsive is handled on other task. This task is only the

[2021-08-19 00:28] abin-aot opened #376 "Development of Bridget component for Left Panel and Right pane (#346)"
Title of ticket:

#### Description
This is the bridge component for Left Panel and component that are getting loaded on Right Pane as per the Route Path

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Development of Bridge React component
- [ ] Confirmation of Functionality of Left Panel and Right Pane of component, Property management , states if any
- [ ] Confirmation of functiona

[2021-08-19 00:31] abin-aot opened #377 "Styling, Responsive design and other UI work of Left Panel(#346)"
Title of ticket:

#### Description
This tasks covers all the styling and other CSS, functionality related cosmetics work

#### Dependencies
Are there any dependencies? - Completion of Left panel (#374)

#### DOD
- [ ] Development of CSS stylesheets, classes
- [ ] Responsive design
- [ ] Implementation of styling, color pattern work related to functionality

[2021-08-19 00:32] divyav-aot commented on #302
Closing this issue as this will be part of technical debt to bring a proper unit test framework for FE.

[2021-08-19 00:32] #302 closed

[2021-08-19 00:35] abin-aot opened #378 "Create an Key cloak group for Flex Team and members(mock) - #292"
Title of ticket:

#### Description
Create a Key cloak group for Flex team

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Creation of keycloak group for Flex team and add mock members
- [x] migrate the Flex team group creation to TEST env
- [x]  add mock team members for Flex on test and dev, who are not in Intake team

[2021-08-19 00:39] abin-aot opened #379 "Develop Assignee API endpoint (#292)"
Title of ticket:

#### Description
development of assignee API endpoint which returns assignee list (Intake, Intake +Flex) as per the status

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Develop an Assignee Service with status as input on Method
- [x] Develop an Assignee Resource with status as route input calling above service
- [x] Configuration of the group id inside ENV VAR
-

[2021-08-19 00:43] abin-aot opened #380 "FE Update for assignee dropdown for conditional loading based on status (#292)"
Title of ticket:

#### Description
This task involves the integration of Assignee API to the FOI Request Form

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Consume the above/new API endpoints for assignee and pass status
- [x] Develop the grouped drop down list for Flex and Intake
- [x] Update POST request as per the new integration(if needed)
- [x] POST API integration for save o

[2021-08-19 00:47] abin-aot opened #381 "Update POST, GET API to capturing Flex team assignment -(#292)"
Title of ticket:

#### Description
This task is intended to update or for development changes on new Flex team assignments, Group Column implementation for both POST and GET

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Model Update with new group column, nullable, migrations
- [x] Mapping need to added on the Service level for POST, GET
- [x] Updates to GET API, Service of the re

[2021-08-19 00:49] abin-aot opened #382 "Update WF to assign the Open FOI request to Flex Team/Keycloak group(#292)"
Title of ticket:

#### Description
This task is to accommodate changes to Camunda WorkFlow in relation  with Flex group assignment and individual flex team assignment

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Unclaim and reclaim with group only
- [x] Unclaim and reclaim with group and assignee

[2021-08-19 00:54] abin-aot opened #383 "Update Dashboard API / request queue for Flex Team(#292)"
Title of ticket:

#### Description
The dashboard API and service need to be updated as per the  Role. Means, a flex team member will only the see requests assigned to Flex Team - Either to the entire team or to any member of Flex team

#### Dependencies
Are there any dependencies?

#### DOD
- [x]  Handling JWT Token, Parse Roles
- [x] API will fetch requests as per the Role - group - This will loo

[2021-08-19 16:03] divyav-aot opened #385 "Issue with Received and Start Date, correctional and employee number in review request page"
Title of ticket:

#### Description
Received and Start Date is not working as expected. It changes to the current date instead of the saved dates.

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Fix received date calculation in Review request
- [x] Fix received date calculation in dashboard
- [x] Fix start date display
- [x] CorrectionalNumber and EmployeeNumber mapping change

[2021-08-19 16:28] sumathi-thirumani-aot commented on #298
Unit Testing (Yet to be ran).

[2021-08-19 16:51] mpilchar opened #386 "Change state of request from Unopened to Intake in Progress"
* As an Intake analyst
* I want a dropdown menu with the stages of a request cycle
* so that I can change the state of the request to Intake in Progress

**Assumptions & Scope**
What are the assumptions for this story?
- Disable the "unopened" option from menu
- Validation happens
- Request stays "unopened" when I click on it - becomes "open" only once selected from dropdown menu
- Saving or using

[2021-08-19 17:00] m-prodan commented on #313
@abin-aot - it looks like it worked for the most part; however, I looked at each output sheet and found one issue:

Regarding file 00000024_FY17 - 22 Historical IFE Spending.xlsx - the worksheet tab FY17 Summary printed a blank page. All the other worksheets worked though. Might be an edge case though, as everything else appeared to convert correctly.

I am going to close this ticket, I did get an

[2021-08-19 17:00] #313 closed

[2021-08-19 17:05] mpilchar opened #388 "Opening and closing the template modal"
* As a FOI Analyst
* I want to Select a Template
* so that I can quickly communicate with others about a request

**Assumptions & Scope**
In scope: Opening and closing the template modal
Not in scope: Selecting a template and generating a letter

**Acceptance Criteria**

**Scenario 1: Clicking on Compose Template button will generate selection modal**
* GIVEN ... I am on the Email Details page of

[2021-08-19 19:06] mpilchar opened #390 "Adding and removing files to email correspondence"
* As a FOI Analyst
* I want to add or remove files to my emails
* so that I can include files in correspondence about the FOI request

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: Adding a file using the Add Files button**
* GIVEN ... I am on the Email Details page of the Correspondence page
https://jacklyn80

[2021-08-19 19:07] mpilchar commented on #390
@JHarrietha-AOT this one is drafted as we discussed. Let me know if you see anything amiss :)

[2021-08-19 20:27] m-prodan commented on #349
@JHarrietha-AOT - we are prepping for refinement tomorrow - just looking at this story now, it makes sense to me but I'm wondering about whether the radio button should actually be "all" since it includes sent and drafts? I'm just thinking that it might be confusing to toggle to "Sent only" but still see your drafts.

[2021-08-19 20:50] JHarrietha-AOT commented on #390
@mpilchar Just wanted to change the wording of these two slighly, saying that the files name will appear. As that is what we should be pulling from each file.

Last bullet on the Scenario 1:
AND ... upon selecting the file, the file name will appear linked, in the drag and drop component with an "x" next to it and the text "Drag and drop request letter(s) or" will no longer appear

Scenario 2:
THE

[2021-08-19 20:51] JHarrietha-AOT commented on #349
@m-prodan Thinking about typical email functionality would you usually want to see your send and drafts in the same space? If so how would you identify which is which?

[2021-08-19 20:54] mpilchar commented on #390
@JHarrietha-AOT - good reworks, thanks! I've updated as you've suggested

[2021-08-19 21:21] m-prodan commented on #104
Removed dependencies because this won't include sending of the emails

[2021-08-19 23:54] sumathi-thirumani-aot commented on #378
Created 2 new groups: Flex Team , Processing Team.

[2021-08-19 23:55] sumathi-thirumani-aot commented on #378
Added test users to both groups in dev and test.

[2021-08-20 16:02] sumathi-thirumani-aot commented on #379
Mapping Details:
    def generalGroupMappings(self):
        return [{"status":"Unopened", "groups":["Intake Team"]},
                {"status":"Intake In Progress","groups":["Intake Team"]},
                {"status":"Open","groups":["Intake Team","Flex Team"]},
            ]

    def personalGroupMappings(self):
        return [{"status":"Unopened", "groups":["Intake Team"]},
                {"s

[2021-08-20 16:11] sumathi-thirumani-aot commented on #379
URL: http://localhost:15000/api/foiassignees/{REQUEST TYPE}/{STATUS}
NOTE: Status will be formatted as lower case and remove spaces.
GET http://localhost:15000/api/foiassignees/general/open

[{"id": "8c27f200-9f3c-4242-afff-007ac70b685c", "name": "Flex Team", "members": [{"id":
"1fccd14f-dfb8-4e3c-bcf8-6d340eefdd89", "username": "aantony@idir", "email": "abin.antony@gov.bc.ca", "firstname":
"Abin"

[2021-08-20 16:24] sumathi-thirumani-aot commented on #379
We don't need maintenance of env property and there is a potential chance of leveraging camunda decisions for mapping.

[2021-08-20 16:37] abin-aot commented on #353
@mpilchar @m-prodan : This story is only about the UX part of correspondence log. the integration with inbound email server is out of scope

[2021-08-20 21:13] JHarrietha-AOT commented on #355
3 - Session 1 - Jessica Cameron - HTH - Fri Aug 20, 1PM PST - SESSION COMPLETED RECORDING BELOW

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%206%20&%207%20-%20Research%20-%20Recording/3%20-%20Session%201%20-%20Jessica%20Cameron%20-%20HTH%20-%20Fri%20Aug%2020,%201PM%20PST.mp4

[2021-08-20 22:13] abin-aot commented on #373
Proceeding with https://codesandbox.io/s/kxsqg?file=/demo.js:63-117 @divyav-aot @sumathi-thirumani-aot

[2021-08-23 04:16] #373 closed

[2021-08-23 18:42] sumathi-thirumani-aot opened #395 "API Changes for WF integration of assignee (#292)"
#### DOD
- [x] Unclaim and reclaim with group only
- [x] Unclaim and reclaim with group and assignee
- [x] Unit Testing

[2021-08-23 21:49] m-prodan commented on #33
Wrapping up QA and closing this ticket - nice work on the fixes! The issue I talked about earlier at stand up, I am unable to replicate - I don't even know how I did it. I'll write up a bug ticket and point to the specific request this occurred in for perhaps some analysis, or something to watch for in the future in case we are able to produce it again. We should also update the acronyms for the r

[2021-08-23 21:49] #33 closed

[2021-08-23 21:49] m-prodan commented on #385
This has been addressed while QA'ing open a request - thanks!

[2021-08-23 21:49] #385 closed

[2021-08-23 21:58] sumathi-thirumani-aot commented on #379
To get all groups and members : http://localhost:15000/api/foiassignees
Sample Response:
[{"id": "8c27f200-9f3c-4242-afff-007ac70b685c", "name": "Flex Team", "members": [{"id":
"1fccd14f-dfb8-4e3c-bcf8-6d340eefdd89", "username": "aantony@idir", "email": "abin.antony@gov.bc.ca", "firstname":
"Abin", "lastname": "Antony"}, {"id": "2b3f3231-0cbd-4946-bf9e-b672bfcb4a2a", "username": "mprodan@idir", "e

[2021-08-23 21:59] m-prodan opened #397 "Request Description End Date Loses Value On Opening"
**Describe the bug in current situation**
When a user creates a request, an action occurred that resulted in the end date of the request description losing part of its value and extending to all opened requests. Exact actions leading to this bug is unknown at this time. Creating this ticket for awareness/tracking purposes, and should be updated when conditions can be replicated.

**Link bug to the

[2021-08-23 23:24] m-prodan commented on #357
Re; Meeting (~Th Aug 26): Review epics with IAO team leads (Matt to set up) - Ken is off this week, and I think I'd like to square off these epics with Loren first - I'll try to get meetings set up for the following week, or perhaps friday with Jamie O if that works for her.

[2021-08-23 23:41] m-prodan commented on #330
Request submitted past 430 showed the correct received date of the next business day. Closing ticket - nice work!

[2021-08-23 23:41] #330 closed

[2021-08-24 16:18] sumathi-thirumani-aot commented on #381
Property "assignedGroup" introduced in raw request and FOI ministry table.

Changes on listed resources and services,
1. RawRequest
2. FOIRequest
3. dashboard

[2021-08-24 18:21] #19 closed

[2021-08-25 16:15] sumathi-thirumani-aot commented on #382
Updated Raw Request Processing:
![image.png](https://images.zenhubusercontent.com/6081aecd755ce5720b249eb2/5790c28a-6ec9-407f-92bd-9caf32bddd0d)

[2021-08-25 16:17] sumathi-thirumani-aot commented on #382
Updated API Handler
![image.png](https://images.zenhubusercontent.com/6081aecd755ce5720b249eb2/0c1dfce1-c257-46fa-a49e-cb77123249ac)

[2021-08-25 17:39] JHarrietha-AOT opened #402 "Prototype/Design Update - Request Description History"
Title of ticket: Design Update for Request Description History

#### Description
Updating the design for IAO Analyst to be able to view the original request description and see all changes/updates that have  been made. Needs to be able to see changed description, date it was changes, and username of person who made change.

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Add button t

[2021-08-25 22:20] sumathi-thirumani-aot opened #410 "Button color schemes - Information Required"
Currently, we have some  buttons in blue; some in transparent.
Could you please share the color scheme of buttons and what considered as primary and secondary actions in each page.

Also the highlight font color of black  over blue (hover over button) is difficult to read.

[2021-08-26 15:03] divyav-aot opened #412 "FE changes for #329"
Title of ticket:

#### Description
'Received Mode' automatically 'Online Form' for request received online
Disable 'Online Form' for Create Request

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Add sourceOfSubmission in the GET API
- [x] Disable/Enable 'Online Form' if Create Request
- [x] Auto select 'Online Form' if request received online

[2021-08-27 20:44] m-prodan opened #419 "(FireFox) Home Button on Navigation Pane (FOI) Prompts for Save"
**Describe the bug in current situation**
When in firefox, and in the review request view, clicking on the home page function of the left panel (FOI), the application gives the user a prompt warning that changes made may not be saved, even though no changes have not been made to the request.

**Link bug to the User Story**
#361

**Impact of this bug**
Minimal impact - will require users to click o

[2021-08-27 23:00] sumathi-thirumani-aot commented on #395
Created a message to support the claim by multi instance claim.
Message structure:
{
   "messageName":"MessageType.openedClaim.value",
   "localCorrelationKeys":{
      "id":"VariableSchema().dump("{
         "type":"VariableType.String.value",
         "value":"fileNumber"
      }")"
   },
   "processVariables":{
      "filenumber":"VariableSchema().dump("{
         "type":"VariableType.String.va

[2021-08-27 23:50] m-prodan commented on #278
Forgot about this card @arielleandrews  :) I've completed this one including the more recent updates to filewatcher, including email attachments in anticipation of the production release on tuesday.

[2021-08-27 23:50] #278 closed

[2021-08-27 23:58] m-prodan opened #423 "Allow for Saving a Request after Assignment Selected"
* As an Intake Analyst
* I want to assign a request more quickly
* so that I can help ensure I will be the only one working on a request

**Assumptions & Scope**
This story is meant to address the potential issue of multiple analysts working on the same request by allowing a user to save an assignment before working on a request.

What is in and not in scope?
This should apply to requests in the u

[2021-08-30 15:59] divyav-aot opened #425 "Issue with Days remaining calculation"
Title of ticket:

#### Description
Issue with Days remaining calculation when create request from the FOI application.

#### Dependencies
Are there any dependencies?

#### DOD
- [ ]
- [ ]
- [ ]
- [ ]
- [ ]

[2021-08-30 16:26] sumathi-thirumani-aot commented on #365
Analysis in progress.

[2021-08-30 16:29] #380 closed

[2021-08-30 16:29] #412 closed

[2021-08-30 16:30] abin-aot commented on #181
On 30/Aug/2021 , as discussed on Sprint Meeting, splitting this task to two. API Integration analysis will be on other task and will start working on it once we get access to AXIS API

[2021-08-30 16:41] abin-aot opened #426 "AXIS API integration Analysis"
Title of ticket:

#### Description

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] API Integration POC
- [ ]  Low level code integration with API endpoint to do REquest POST, GET etc.
- [ ] Get request number from AXIS
- [ ] Request opened in Flow is opened in AXIS

[2021-08-30 17:46] acoard-aot opened #427 "Angular FOI Form OpenShift Dev Environment Readiness Checks Failing"
startupProbe:
            httpGet:
              path: /api/v1/configs
              port: 7085
              scheme: HTTP
            timeoutSeconds: 1
            periodSeconds: 3
            successThreshold: 1
            failureThreshold: 10

**Describe the bug in current situation**
The Angular FOI form started failing on Aug 28th and 29th (the weekend).

After some preliminary investigation

[2021-08-30 21:09] abin-aot commented on #181
AXIS DB analysed : **ATIPD on IXIAS\CIRMOTST**

**_Tables are primarily store Request information :_**

- tblRequests
- tblCaseDescriptionHistory
- tblRequestDocuments
- tblCorrespondence
- tblRequesterNotes
- tblRequestDocuments

TEST Data created on 10.7 version of AXIS Dev Deployment, refer link below
http://dev.axis.gov.bc.ca/ATIPXpress/Request/Correspondence.aspx?**RequestId**=**4217**

_**MS

[2021-08-30 21:18] #181 closed

[2021-08-30 21:18] #383 closed

[2021-08-30 21:19] #395 closed

[2021-08-30 21:19] #382 closed

[2021-08-30 21:19] #381 closed

[2021-08-30 21:19] #379 closed

[2021-08-30 21:20] #378 closed

[2021-08-30 21:20] abin-aot commented on #298
Unit tests fixed!. Running perfectly

[2021-08-30 21:20] #298 closed

[2021-08-30 21:28] mpilchar commented on #298
Woo hoo!

[2021-08-30 22:17] sumathi-thirumani-aot opened #434 "Cosmetic improvement on confirmation modal"
Potential opportunity to improve the look and feel of confirmation modal say "Open Request".

[2021-08-30 23:19] #425 closed

[2021-08-31 00:28] lmullane commented on #329
Hey @divyav-aot, @abin-aot, looking to test this one, but looks like I'm not on the Intake team? If you update my permissions I can get this done tonight.

[2021-08-31 00:42] lmullane commented on #327
Passed QA

[2021-08-31 00:42] #327 closed

[2021-08-31 00:52] divyav-aot commented on #329
@lmullane  - Add you as part of Intake team as well

[2021-08-31 00:52] lmullane commented on #329
Thanks, @divyav-aot!

[2021-08-31 00:59] lmullane commented on #329
@divyav-aot

Scenario 3 passed, but 1 and 2 failed; Given a request is made online, while the Received Mode is pre-filled with Online, the user is able to edit the field and change it to something else. It shouldn't be editable.

[2021-08-31 16:24] #359 closed

[2021-08-31 17:52] lmullane commented on #329
@divyav-aot, let me know if you want me to move this back to the Sprint Backlog?

cc @mpilchar

[2021-08-31 18:03] #223 closed

[2021-08-31 18:03] JHarrietha-AOT commented on #223
Demo completed on August 31st.

[2021-08-31 18:23] JHarrietha-AOT opened #437 "User Flow for Pilot Ministries"
Title of ticket: User Flow for Pilot Ministries

#### Description
Create a zoomed in user flow of what the hand off from IAO and Ministries will look like to get validation from Pilot Ministries

#### Dependencies
Will we email this out for validation or set up meetings?

#### DOD
- [x] Zoomed in User Flow for IAO to Ministry Hand Off
- [x] Queue Design - if completed

[2021-08-31 18:32] JHarrietha-AOT opened #438 "Recruitment For Ministry Prototype Testing"
Title of ticket: Recruitment For Ministry Prototype Testing

#### Description
Recruiting Pilot Ministries to Participant in User Testing Sessions for Next Sprint. 5
Recruiting 3 additional ministries

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Book sessions with all 5 Ministries involved in Pilot
- [x] Review Notes and select 3 additional Ministries to include in testing
- [x] B

[2021-08-31 19:53] JHarrietha-AOT opened #441 "UX Study Guide - Ministry User Testing with Prototype"
**Description:**
Draft of script we will use including questions/tasks we will ask users to complete.

**DOD:**

- [x] Draft of Study Guide
- [x] Review from SME
- [x] Review from PO

[2021-08-31 19:54] JHarrietha-AOT opened #442 "UX Research Plan - Ministry User Testing with Prototype"
Description:
Draft of questions/tasks we will ask users to complete in sessions

DOD:
- [ ] Draft of Study Guide
- [ ] Review from SME
- [ ] Review from PO

[2021-08-31 20:14] JHarrietha-AOT opened #443 "Prototype/Design Update - Hand Off of CFR from IAO to Ministry (Change of State)"
Description:
First draft of design for Call for Records Hand off process from IAO to Ministries. Based off of the user flow created as a product of the UX Research Sessions with Ministries.

#### DOD
- [x] Designing Process for Change of State
- [x] How this will be passed off from IAO to Ministries
- [x] Change of state text box that prompts users to add any additional notes with text box (Add LA

[2021-08-31 23:25] divyav-aot commented on #329
@lmullane  - I will be pushing the changes today or early tomorrow. The changes are in review now.

[2021-08-31 23:43] lmullane commented on #329
Thanks, @divyav-aot

[2021-08-31 23:54] lmullane commented on #292
Tested all scenarios and they work as expected.

[2021-08-31 23:54] #292 closed

[2021-09-01 15:23] sumathi-thirumani-aot commented on #365
Implementation approach:
Usage of library: Flask CORS
MUST: In the .env configure all allowed domains as comma separated.
Logic: The configured comma separated value of domains is translated as list and passed to extension decorator @cross_origin

[2021-09-01 15:58] lmullane opened #444 "Automated functional test framework"
Title of ticket:

#### Description
    - Analysis/recommendation of automated functional test framework

Options include TestComplete, Catalon

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Lightweight analysis of options available
- [ ] Pros and cons
- [ ] Cost
- [ ] Works with GitHub actions

[2021-09-01 16:00] lmullane opened #445 "Add automated functional test framework to pipeline"
Title of ticket:

#### Description
Integrate automated functional test framework into pipeline

#### Dependencies
Are there any dependencies?

#444

#### DOD
- [ ] Add framework to pipeline
- [ ] Automatically run tests when the code is checked into 3 environments

[2021-09-01 16:02] lmullane opened #446 "Automated functional tests"
Title of ticket:

#### Description
Create first automated functional test framework

#### Dependencies
Code must be stable

#444, #445

#### DOD
- [ ]Select user flows to be tested
- [ ] Create tests
- [ ] Tests running in pipeline

[2021-09-01 17:17] sumathi-thirumani-aot opened #447 "Cosmetic Improvement: Footer can be modified to have only 2 entry per column."
Cosmetic Improvement: Footer can be modified to have only 2 entry per column; so this will reduce the length of footer.

[2021-09-01 17:46] JHarrietha-AOT opened #448 "UI Changes to Left Nav Panel"
**Describe the bug in current situation**
Design Updates for Left Nav Panel to be more inline with design

**Link bug to the User Story**

**Impact of this bug**
Describe the impact, i.e. what the impact is, and number of users impacted.

**Chance of Occurring (high/medium/low/very low)**
Occurs every time users goes into page with side panel. Low priority as left nav panel functions correctly.

*

[2021-09-01 18:37] abin-aot commented on #366
Re-estimated to 5 .

[2021-09-01 20:50] divyav-aot opened #449 "disable ReceivedMode if the source of submission is Online Form"
Title of ticket:

#### Description
disable ReceivedMode  if the source of submission is Online Form. Currently it is editable

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] pass sourceOfSubmission for open request
- [ ] disable ReceivedMode   based on sourceOfSubmission

[2021-09-01 22:04] lmullane opened #451 "Change state of a request"
## Description:
- Short Description of the needed Epic in the below format

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
**Sizing**

* T-shirt size:

 [ ] S
 [ ] M
 [ ]

[2021-09-01 22:08] lmullane opened #452 "Change state of request"
* As an analyst and ministry coordinator
* I want to a drop down menu
* so that I can I can change the state of a request

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 2: xxxxxx**
* GIVEN ... (you or yo

[2021-09-01 22:20] lmullane opened #453 "Change state of Intake in Progress request"
* As Intake Analyst
* I want a dropdown menu with the stages of a request cycle
* so that I can change the state of the request to Open

**Assumptions & Scope**
Modal will appear whenever a change of state is selected

What is in and not in scope?
- In scope - Remove Open button
- Out of scope - Assignments at this point

**Acceptance Criteria**

**Scenario 1: Intake in Progress request Dropdown m

[2021-09-01 22:32] lmullane opened #454 "State options for Open request"
As a flew team analyst
I want a dropdown menu with the stages of a request cycle
so that I can change the state of the request to Closed

Assumptions & Scope
What are the assumptions for this story?

What is in and not in scope?

Change to CFR Assignment to ministry coordinator team covered in another story

Closing a request is covered in #469

Acceptance Criteria

Scenario 1: Open request Dropdo

[2021-09-01 23:25] sumathi-thirumani-aot opened #455 "Server Side Caching : Nice to implement for master data (keycloak data)"
Currently; the masterdata is queried often. This has a potential opportunity to have server side caching to avoid querying tables.

**Acceptance Criteria**

**Scenario 1: Author names on notifications takes time to load.**

GIVEN a user logs in and has already received a notification
WHEN the user views the notification
THEN the notification should show the author full name without any delay.

[2021-09-02 16:05] divyav-aot opened #456 "FE changes for #386"
Title of ticket:

#### Description
FE changes for #386

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Design state dropdown
- [x] auto select Unopened if the state is Unopened
- [ ] Update the saveObject with new state
- [x] validation of fields while changing the value to intake in progress

[2021-09-02 19:54] mpilchar opened #458 "Release planning - scoping down & next steps"
Description
Determining scope that can be achieved by end of fiscal

DOD
By Sept 3:
https://miro.com/app/board/o9J_l48Pzcw=/
[ ] Revise stories in miro - Loren
[x ] Revise stories in miro - Arielle
[x ] Revise stories in miro - Molly
[x] Set up meeting with team for week of Sep 7 (Molly)
[x ] Prelim discussion with Chad (Loren)

Week of Sept 7:
[x ] Re-estimate new stories (team)
[ ] Prepare a rep

[2021-09-02 19:55] #357 closed

[2021-09-02 20:55] arielleandrews commented on #458
User stories for CFR have been updated. No change to user stories for Extensions - after reading them closer, they are already written for manual entry.

[2021-09-02 21:01] lmullane commented on #458
Thanks, @arielleandrews

[2021-09-02 22:29] mpilchar commented on #458
Updated state change scenarios:
- Changed all automated scenarios to manual state change
- Added ability to manually stop clock during fee estimate stage
- Added "close - incomplete" as a scenario

[2021-09-02 23:48] divyav-aot commented on #329
@lmullane  - The issue is fixed and pushed to test

[2021-09-03 15:47] lmullane commented on #329
Issue fixed. All scenario pass QA.

[2021-09-03 15:47] #329 closed

[2021-09-03 16:20] #449 closed

[2021-09-07 16:31] sumathi-thirumani-aot opened #463 "State Transition Rules Maintenance for #386"
FOI request possible actions are to be managed in camunda DMN as decisions; which allows to change.

#### DOD
- [x] Rule maintenance for both state "unopened"
- [x] Rule maintenance for both state "intake in progress"
- [x] Creation of new endpoint to expose state transition based on FOI request type and state.
- [x] Unit Testing

[2021-09-07 16:32] sumathi-thirumani-aot commented on #366
Leverages flask-jwt-oidc for authentication.

[2021-09-08 16:25] JHarrietha-AOT commented on #443
@lmullane @mpilchar @arielleandrews

Below is a link to the updated design for the changing of state. As a note the above ticket does not include the activity log or the content of the Call for Records Page and Assigning and Tracking Divisions; these will come in ticket #363

The focus of these design changes in the changes of state, the modal and the functionality of moving between states. Please

[2021-09-08 17:13] lmullane commented on #443
Thanks. @JHarrietha-AOT

I'll take a look and post any comments/questions here.

[2021-09-08 17:44] divyav-aot opened #465 "AssignedTo in dashboard shows username instead of LastName, FirstName"
Title of ticket:

#### Description
AssignedTo in dashboard shows username instead of LastName, FirstName

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] function to form Assigned to in "LastName, FirstName" format
- [ ] Pass the updated assignedTo in the dashboard GET API
- [ ] Update the mapping of assignedTo field in the FE

[2021-09-08 18:32] lmullane commented on #443
@JHarrietha-AOT, looking at the designs I see we only have 1 assigned too (i.e either Ministry or IAO team/analyst).

I was assuming we would have 2 assignments: 1 to ministry and 1 to IAO analyst. In this scenario, an analyst could change who at IAO was assigned, but the ministry assignment could remain unchanged.

In addition by having 2 assignees, both queues would be populated with the request

[2021-09-08 18:39] JHarrietha-AOT commented on #443
@lmullane

I was thinking it would function as the core person doing the work on that given request would be the assigned. So when in Call for Records the Ministry would be assigned and IAO would be able to add themselves (Or could be automatically added) under the 'Watching Request' dropdown where multiple users could be selected.

Happy to update the design to have a 'IAO Assigned to' 'Ministry

[2021-09-08 18:56] sumathi-thirumani-aot commented on #463
Sample Response:
{
"category":"general",
"foirequestId": 1,
"states":[
{:"Intake in Progress","activity": "completed"},
{:"Intake in Progress","activity": "ongoing"},
{:"Open","activity": "doable"},
{:"Closed","activity": "doable"},
{:"Redirect","activity": "doable"},
]
}

[2021-09-08 20:20] JHarrietha-AOT commented on #437
Included a link here to Miro https://miro.com/app/board/o9J_l6d8LwM=/?moveToWidget=3074457363646843653&cot=14

I have also tagged @lmullane @mpilchar and @arielleandrews in Miro on user flow to review. Let me know if you would like me to extend the zoomed in user flow to further stages. I also included the Proposed Ministry Queue on the Frame to the right of the zoomed in user flow with a breakdow

[2021-09-08 20:32] mpilchar commented on #443
Nicely done Jackie! Weighing in on the discussion - When covering the "assignee" and "watcher" previously, having clear visibility into who was driving a request at any given time was valued highly, with the watcher functionality giving transparency to others wanting to stay informed on that request. @lmullane it seems like the current design achieves the goal of clear visibility - do you foresee

[2021-09-08 20:34] lmullane commented on #443
I figured you were thinking of the watcher feature in that way.

I do wonder if the IAO team lead may want to have a clear assignee on their team? There may be many watchers. Let's hold until @arielleandrews chimes in.

[2021-09-08 20:45] lmullane opened #466 "Call for Records"
## Description:
- Short Description of the needed Epic in the below format

As a user, I want to be able to assign a call for records task, so that the record gathering activity can be triggered or completed as part of the FOI process

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and

[2021-09-08 20:46] JHarrietha-AOT commented on #443
Sounds good, we can wait till she is back.

[2021-09-08 20:47] #29 closed

[2021-09-08 20:54] lmullane opened #467 "Change of state to Call for Records"
* As a Flex team user
* I want to be able to change the state of an Open Request to Call For Records
* so that I can assign it to the responsible ministry team

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?
 **Comments are not in scope, editing ministry team and waters also not in scope**

Editing watchers in not in scope

Editing the selected minis

[2021-09-08 21:42] JHarrietha-AOT commented on #438
As per scoped down MVP - these user tests should only be booked with Ministries who are participating in the pilot and will be to do a walk-though of what is in scope for the pilot. With questions focusing on whether this is enough for Ministries to want to change to a new system? If not, what would need to be included for them to want to change?

[2021-09-08 21:42] lmullane opened #468 "Change CFR state to Open"
* As a ministry coordinator
* I want to be able to change the state of a CFR request
* so that I can assign it back to IAO

**Assumptions & Scope**
What are the assumptions for this story?

Should a ministry coordinator be able to change a request out of the CFR state?

What is in and not in scope?

Fee assessed

**Acceptance Criteria**

**Scenario 1: Click dropdown on CFR request**
* GIVEN a mini

[2021-09-08 21:48] JHarrietha-AOT commented on #437
As discussed with @mpilchar I will updated flow after Meeting about the Scoped down MVP to change anything that will no longer be included.

[2021-09-08 21:50] lmullane commented on #468
@arielleandrews, @JHarrietha-AOT, some important business rules to iron out for this ticket and who has permission to changing a request back to Open from CFR and how such a change will be captured in reporting.

cc @mpilchar

[2021-09-08 21:59] lmullane commented on #438
@JHarrietha-AOT, we should have some user tests with non pilot participants to ensure we still have representative research.

Let's discuss further at our meeting tomorrow.

[2021-09-08 22:30] mpilchar commented on #189
@lmullane Any concerns with me closing this one? Looks like a dupe

[2021-09-08 22:40] mpilchar commented on #438
During a meeting with IAO Flex lead today, the following ministries could be worth including due to unique complexities each possess:
- Office of the Premier (legislative requirements)
- Finance
- PSSG/AG (decentralized structure for FOI processing)
- Health (unique process)

cc: @lmullane

[2021-09-09 16:59] JHarrietha-AOT commented on #443
Only IAO Flex team should have the ability to return a request back to the OPEN state. Ministries should not be able to do this.

Changes of State:
Add window for 'Ministry Assigned To:' "IAO Assigned To:'
Comments should be removed for MVP
Ministry should not be changeable - remove dropdown option
Watcher DropDown - everyone should have functionality to be able to see and assign others to be a wa

[2021-09-09 17:07] #215 closed

[2021-09-09 18:35] JHarrietha-AOT commented on #442
? - Ask if having a daily report generated overnight, each night, and shared the following day would meet needs for reporting. Option to do weekly as well. On flight reporting will be time consuming for MVP

[2021-09-09 18:37] JHarrietha-AOT commented on #442
Do a walk through with Loren of how registries is doing there reporting with @lmullane

[2021-09-09 20:08] lmullane commented on #467
@arielleandrews, @JHarrietha-AOT, as discussed:

- Comments are not in scope
- Editing watchers in not in scope (can be taken off completely)
- Editing the selected ministry is not in scope

@JHarrietha-AOT, please update the designs accordingly.

cc @mpilchar

[2021-09-09 20:22] lmullane opened #469 "Closing a request"
* As an IAO analyst
* I want to be able to Close a request that is any state except 'Unopened'
* so that I can remove assignments from a request that no longer needs to be actioned

**Assumptions & Scope**
What are the assumptions for this story?

Closing will work the same way on any request state

A request can be closed in any state, except Unopened and Publish, as per our workflow:
https://mir

[2021-09-09 20:36] lmullane commented on #452
@arielleandrews, @JHarrietha-AOT, please review the above scenarios and advise on edits/omissions.

[2021-09-09 21:02] arielleandrews commented on #467
Looks good @lmullane. One question - for Scenario 1, with the Ministry being pre-selected, would it make sense to make that field display only and not give the option to assign it to any other user?

[2021-09-09 21:09] arielleandrews commented on #469
We need to include the "Final Disposition" when closing a request. This is an important field that is reported out on, I can pull the list from AXIS. A dropdown would be fine, you would only ever select one reason.

[2021-09-09 21:27] arielleandrews commented on #452
Thanks Loren. For Scenario 2, the clock should update at/after midnight, rather than a 24-hour period.

Should we include a Scenario 3 where after the due date has passed it turns red and counts down into the negative? Is there an action we should include in the design that will stop the day counter?

[2021-09-09 21:43] arielleandrews commented on #468
These make sense to me. Thanks for the discussion this morning.

[2021-09-09 21:45] JHarrietha-AOT commented on #467
Would agree with @arielleandrews, of just added that the Ministry will be automatically selected based off of the Ministry of the Request, and that the field is uneditable/display only.

[2021-09-09 21:58] lmullane commented on #452
@arielleandrews

I'll update the scenario for a midnight change. Just confirming if we send a CFR to a ministry at 5pm on a business day, that when the clock strikes midnight, they are down to 9 days?

Yes, to a scenario 3.

[2021-09-09 22:06] JHarrietha-AOT commented on #452
@arielleandrews I agree, I currently have the Item in the queue in red if it is past the IAO Records Due Date. Let me know if you think this is an effective way to show that in the queue. Was thinking about having it turn to orange/yellow when it is day before due date as well, as there were a few Ministries who colour coded there trackers manually and found it visually helpful. I also agree and h

[2021-09-09 22:13] JHarrietha-AOT commented on #443
@mpilchar @arielleandrews  @lmullane

I have updated the design of the modal as discussed this morning based off of the notes I took above. I have moved the Watcher dropdown to the request description page as well. It is currently based off of a multi select dropdown in Material UI. I am going to revisit in hopes of doing something closer to GitHub watcher. I will include this in #363 as we have r

[2021-09-09 23:03] arielleandrews commented on #452
@lmullane confirming the day the CFR is sent to the Ministry is not counted in the 10 days they have to respond. Example: CFR is sent on Sep 9, response is due Sep 23.
@JHarrietha-AOT that makes good sense to me. Visual reminders are always helpful.

[2021-09-10 00:44] JHarrietha-AOT commented on #437
@arielleandrews User flow has been updated based off of scope reduction of MVP as discussed today. If you have a chance to review before the meeting with EDUC tomorrow that would be great!

[2021-09-10 03:31] lmullane commented on #452
Thanks, @arielleandrews. Is it the next business or the next calendar day?

[2021-09-10 16:04] divyav-aot opened #470 "Request form optimization"
Title of ticket:

#### Description
As part of #386 the Status change on request form need to validate(open status onwards) the form as state and if no errors. Earlier there was a performance issue on input fields of the form. Technically, the React component should have the proper object propagation comparing the performance of the form input fields

Update : Clubbing it with User Story #484 , #45

[2021-09-10 17:51] JHarrietha-AOT commented on #438
@arielleandrews Just wanted to recorded the discuss we had earlier today with the list of Ministries we will be recruiting from for these sessions.

- [ ] MUNI
- [ ] JERI
- [ ] LBR
- [ ] TACS
- [ ] EDUC
- [ ] FIN
- [ ] HTH
- [ ] ENV

[2021-09-10 17:54] JHarrietha-AOT commented on #363
Based on Scope Decrease of the MVP so we can release to the pilot Ministries sooner the:
- activity log
- in app correspondence
- online web form version of the CFR Doc

 will not be included in the designs at this time.

[2021-09-11 00:31] JHarrietha-AOT commented on #437
New User flows were presented at Meeting with EDUC completing issue

[2021-09-11 00:31] #437 closed

[2021-09-13 16:02] arielleandrews commented on #452
@lmullane next business day

[2021-09-13 20:23] sumathi-thirumani-aot commented on #463
URL: http://localhost:15000/api/foiaction/{request Type}/{status}
http://localhost:15000/api/foiaction/general/unopened
Response:
{
    "states": [
        {
            "activity": "ongoing",
            "name": "Unopened"
        },
        {
            "activity": "doable",
            "name": "Intake in Progress"
        }
    ]
}

[2021-09-14 16:17] JHarrietha-AOT commented on #443
https://jacklyn808742.invisionapp.com/console/share/3W2O64AP5C/768088422 Sharing prototype link

[2021-09-14 16:17] #443 closed

[2021-09-14 16:18] JHarrietha-AOT commented on #402
Sharing lInk to prototype of updated screen for this design changes above: https://jacklyn808742.invisionapp.com/console/share/3W2O64AP5C/724148981

[2021-09-14 16:18] #402 closed

[2021-09-14 16:25] JHarrietha-AOT opened #479 "Ministry User Testing Sessions"
Description
Conduct research sessions with Ministry participants. Each session will have a note taker.
Synthesize results is a separate ticket.

Dependencies
Availability of Ministry clients, we have asked Ministries to select a time that works best for them from Sept 20-24th

DOD (list sessions as they get booked)

- [x] Session 1 - Alexandra Kavadas - ENV - Tues. Sept 21, 8 AM PST
- [x] Session

[2021-09-14 17:25] mpilchar opened #480 "Filter for comments"
* As a FOI analyst
* I want a filter ability for comments
* so that I can filter out automated comments, etc

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 2: xxxxxx**
* GIVEN ... (you or your condition)

[2021-09-14 17:26] mpilchar commented on #480
Suggested by Patrick Craib during review of design prototype at Sept 14/21 sprint demo

[2021-09-14 18:27] JHarrietha-AOT opened #481 "Ministry User Testing Report Out"
Title of ticket: Ministry User Testing Report Out

Description
Create a Report out of the Ministry User Research and present at Demo

Dependencies
Completion of all research sessions with MUNI, JERI, LBR, TACS, FIN, HTH, ENV

DOD

- [x]  Create Miro Report Out Slides
- [x]  Record changes requested to prototype as action items
- [x]  Present in Demo

[2021-09-14 18:48] JHarrietha-AOT opened #482 "Prototype Update Based on Ministry Research"
Title of ticket: Prototype Update Based on Ministry Research

#### Description
Updating prototype based off of feedback and changes suggested from Ministry Research Sessions.

#### Dependencies
Depends on the amount of changes requested/suggested from our Ministries. If changes are small we will complete in Sprint 10, if there are larger changes to Prototype they will be completed in Sprint 11.

#

[2021-09-14 19:59] #438 closed

[2021-09-14 21:14] lmullane commented on #469
@JHarrietha-AOT, I will update the scenarios to reflect @arielleandrews comment above. And move this story down until we have updated designs.

Another update required to the designs is that 'Closed' should be an option for an IAO analyst only for every state except 'Unopened' and or 'Publish'

[2021-09-14 21:27] lmullane commented on #452
@arielleandrews, @JHarrietha-AOT, please review updated scenarios above reflecting your comments.

@JHarrietha-AOT, instead of negative days when overdue suggest we just state the number of days overdue.

[2021-09-14 21:35] #456 closed

[2021-09-14 21:35] #365 closed

[2021-09-14 21:35] #366 closed

[2021-09-14 21:35] #463 closed

[2021-09-14 21:37] lmullane opened #484 "Change state of request to Open"
* As an Intake Analyst
* I want to change a request from Intake in Progress to Open
* so that the request can be actioned

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?
Closing and redirecting a request are not in scope.
Out of scope: fields within the request are out of scope.

Assigning a request?

**Acceptance Criteria**

**Scenario 1: Open a req

[2021-09-14 21:43] acoard-aot commented on #199
Technical notes, I believe this contains the fix I was thinking of.  It's a "hint", i.e. idp_hint.

https://stackoverflow.com/questions/46390571/how-to-bypass-keycloak-login-form-and-jump-directly-to-the-idp-login

[2021-09-14 21:47] arielleandrews commented on #452
@lmullane Scenario 2 would follow the same principle and the clock/number of business days would update at midnight. We track always according to the number of days to the legislated due date and don't get into partial days

[2021-09-14 21:59] mpilchar commented on #484
Please reference scenarios for the main source of truth, as some designs are outdated

[2021-09-14 22:02] mpilchar commented on #484
Open button at bottom will be removed

[2021-09-14 22:10] lmullane commented on #454
Closed duplication of #469

[2021-09-14 22:10] #454 closed

[2021-09-14 22:13] mpilchar commented on #484
Estimate factors in view change, stage management in front end, rule changes, data capture spread between two components

[2021-09-14 22:13] lmullane commented on #360
As discussed, this does not include changes to the fields on the request view.

Please refer to the scenarios not the designs on what options should appear in the dropdown state menu.

[2021-09-14 22:21] lmullane commented on #467
Duplicate of #360

[2021-09-14 22:21] #467 closed

[2021-09-14 22:22] lmullane commented on #360
See duplicate #467 for additional comments related to this ticket.

[2021-09-14 22:27] lmullane commented on #360
As decided, ministry queue is out of scope and will be handled in a separate ticket after the ministry queue is tested with coordinators during UX research.

Changing assignees in the modal are out of scope - the ministry and IAO assignees will be view only.

[2021-09-14 23:18] lmullane commented on #31
@mpilchar we will refine this ticket in Sprint Planning tomorrow:)

cc @divyav-aot, @sumathi-thirumani-aot, @richard-aot, @abin-aot, @arielleandrews, @JHarrietha-AOT

[2021-09-14 23:38] lmullane commented on #386
All scenarios passed QA.

[2021-09-14 23:38] #386 closed

[2021-09-14 23:56] lmullane commented on #423
This is complete already.

[2021-09-14 23:56] #423 closed

[2021-09-15 00:01] lmullane commented on #204
Automatic deployments to prod would be my preference. cc @acoard-aot

[2021-09-15 00:19] #351 closed

[2021-09-15 00:20] #466 closed

[2021-09-15 00:21] #28 closed

[2021-09-15 00:25] lmullane opened #485 "Assignment"
## Description:
- Short Description of the needed Epic in the below format

* As a IAO analyst or ministry coordinator,
* I want to be able to assign a request to a team or user
* So that I can ensure the appropriate people are responsible for the request

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what

[2021-09-15 00:27] lmullane opened #486 "Extensions"
## Description:
- Short Description of the needed Epic in the below format

* As a (who/ person)
* I want (what/ goal)
* so that (why/ benefit proposal)

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for priority.

----
**Sizing**

* T-shirt size:

 [ x] S
 [ ] M
 [

[2021-09-15 00:29] lmullane opened #487 "Basic Reporting"
## Description:
- Short Description of the needed Epic in the below format

*As a user, I want to be able to export the data of my requests, so that I can report to executive and other interested parties as needed

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justification for pr

[2021-09-15 15:03] lmullane opened #488 "Change state to redirect"
* As an Intake Analyst
* I want to be able to mark a request as Redirect
* so that I can action it and close it

**Assumptions & Scope**
What are the assumptions for this story?
We do not need a modal for this

What is in and not in scope?

Closing a request in Redirect state - that is covered in #469

**Acceptance Criteria**

**Scenario 1: Intake in Progress request**
* GIVEN a request is in Inta

[2021-09-15 15:04] lmullane commented on #488
@arielleandrews, @JHarrietha-AOT, do you think we need a modal for this state change? I think it's not necessary.

Note, any state changes will require the analyst to first save the request in an Unopened state with all the before they can select Redirect.

[2021-09-15 15:07] lmullane commented on #469
@JHarrietha-AOT, we should probably have a modal for this requiring them to be sure they want to close the request. Thoughts?

[2021-09-15 15:10] lmullane commented on #488
Duplicate

[2021-09-15 15:11] #488 closed

[2021-09-15 15:11] arielleandrews commented on #488
I agree it's not a necessity, but I wonder about the consistent user experience. Would love to hear from your design perspective @JHarrietha-AOT

[2021-09-15 15:41] JHarrietha-AOT commented on #452
@lmullane @arielleandrews Agree with Arielle that scenario 2 shouldn't be about the 24 hours passing but about it being past midnight and the next buisness day. Ans agree that days should show at 'X days past due' not in the negative.

Otherwise looks good.

[2021-09-15 15:43] JHarrietha-AOT commented on #468
@lmullane looks good to me

[2021-09-15 15:47] JHarrietha-AOT commented on #469
@lmullane agreed there should be a modal. Thinking it would make sense if in the modal they have to select or type the reason for closing the request so there is a record of why. Which could be added as the last comment in the request. @arielleandrews Thoughts? I havn't seen the existing process for closing a request

[2021-09-15 15:51] JHarrietha-AOT commented on #488
@arielleandrews @lmullane for the MVP I don't think this is required. Give the user flow we are expecting users to go through for the MVP this won't be needed. I think it should be included post MVP when we are looking at the Split and Redirect for Intact that we tested a little while ago.

[2021-09-15 16:01] JHarrietha-AOT opened #489 "Prototype Update - State Change and Closing Request"
Title of ticket: Prototype Update - State Change and Modals

Description
Updating prototype based off MIRO - Request State Workflow
https://miro.com/app/board/o9J_l9AKkos=/

Dependencies
- [x] Walkthrough of existing process for closing a request

DOD
- [x] Update Left Nav Dropdown to include all states included in Miro
- [x] Add, "Fee Estimate" "Oh Hold" "Harms Assessment" "Deduplication" to left

[2021-09-15 16:02] JHarrietha-AOT commented on #489
@arielleandrews @lmullane I created this new UX issue just as a place to keep track of notes for updating the design to reflect all state changes in Miro including Flow for Closing a Request

[2021-09-15 16:12] arielleandrews commented on #469
Agree with the modal. @JHarrietha-AOT I can walk you through the close request process in the test environment in AXIS whenever you would like to see this process

[2021-09-15 16:20] JHarrietha-AOT commented on #489
@arielleandrews I've added that quick walkthrough of closing a request in here so we can track it. I figured it would be quick it's just always helpful to see what the existing process is before I go and design something. Wondering if from your experience you think selecting a reason for closing from a dropdown menu is enough? Or do users need to be able to type out why they are closing the reques

[2021-09-15 16:29] lmullane commented on #452
Displaying the CFR due date on the Request View page is not in scope for this story; it will be covered in a different story.

[2021-09-15 16:43] lmullane commented on #468
Decision is that when a request reverts to Open from CFR when it goes back to CFR then the clocks starts new at 10 business days. cc @arielleandrews

[2021-09-15 16:57] lmullane commented on #468
Change assignment in modal is not in scope; IAO assignee stays the same.

Removing ministry assignee is in scope.

[2021-09-15 17:30] arielleandrews commented on #31
@JHarrietha-AOT will update design to include a checkbox for the original request description "Remove Personal Information" to create a new version of the request description. The Ministry Coordinator persona will then see the checkbox onward version as the first version of the request description

[2021-09-15 18:00] sumathi-thirumani-aot opened #490 "DueDate refinement"

[2021-09-15 19:01] arielleandrews opened #491 "No Personal Information checkbox for Request Description"
* As an Intake Analyst
* I want a checkbox to indicate when any personal information has been removed from a request description
* so that no personal information of the applicant's is shared with Ministry Coordinators or published in reports

**Assumptions & Scope**
Checkbox will appear for General requests only

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: Checkbox checke

[2021-09-15 19:02] arielleandrews commented on #491
@JHarrietha-AOT please add the design link when ready.
@lmullane FYI - if this is redundant we can close it but wanted to capture the story just in case

[2021-09-15 19:14] mpilchar opened #492 "Onboarding to Object storage"
Title of ticket: Onboarding to Object storage

#### DOD
- [x] Review information found on: https://github-wiki-see.page/m/bcgov/nr-get-token/wiki/Object-Storage
- [x] Review attached OCIO object storage info - [https://app.zenhub.com/files/358004325/51888df8-fae2-42d8-9c75-ef57337f4e3e/download](https://app.zenhub.com/files/358004325/51888df8-fae2-42d8-9c75-ef57337f4e3e/download)
- [x] Complete on

[2021-09-15 19:19] mpilchar opened #493 "Research storage solutions / LAN alternatives"
Title of ticket:

#### Description
Problem to solve: Looking for a document storage solution to replace the current LAN setup. Determine what data storage options are available.
Looking into object storage first. Secondary options may include public cloud or on-premise cloud solutions.
Goal: Ability to have permission controls, version controls, maintenance and foundation for future redaction work

[2021-09-15 19:24] mpilchar opened #494 "Introductions and Onboarding materials - Data Architecture"
Title of ticket:

#### Description
Introduce Vineet to colleagues in the data architecture space of government

#### DOD
- [x] Loren to contact David Button
- [ ] Loren to contact Ryan Loisell (JAG)
- [x] Molly to contact Susan Hart, CIRMO contact on the Data Arch Advisory Committee
- [x] Molly to contact NRM data architecture for their onboarding materials - CSNR.Data.Architecture.Services@gov.bc

[2021-09-15 19:26] mpilchar commented on #113
closing - dupe

[2021-09-15 19:27] #113 closed

[2021-09-15 19:39] divyav-aot commented on #31
@arielleandrews - can intake and flex team member see original description before redaction?

[2021-09-15 19:46] sumathi-thirumani-aot commented on #490
1. Code optimization from recursive loop to recursive function
2. Changes to observance day calculation.

[2021-09-15 19:46] sumathi-thirumani-aot commented on #490
PR: https://github.com/bcgov/foi-flow/pull/495

[2021-09-15 19:47] sumathi-thirumani-aot opened #496 "Backend Changes on RawRequest to capture manual description redaction flag (#31)"
Introduce a new boolean component on FOI request to capture the manual redaction of PII information from description of request.

This applies only on the rawrequest.

#### DOD
- [x] Migration script
- [x] POST API changes to capture manual redaction flag
- [x] GET API changes to send manual redaction flag
- [x] Unit Testing

[2021-09-15 19:57] arielleandrews commented on #31
@divyav-aot yes any IAO staff can see the original request description

[2021-09-15 20:00] divyav-aot opened #497 "Request description history design changes (#31)"
Title of ticket:

#### Description
Request description history design changes

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Description History link and onClick handle
- [x] Design of Request Description pop up with accordions
- [x] GET API integration for the request description list
- [x] Remove duplicate request description details from the list
- [x] sort request description f

[2021-09-15 20:01] divyav-aot opened #498 "Boolean Capture for "Description contains NO Personal Information" (#31)"
Title of ticket:

#### Description
Summarize issue

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Boolean Capture for "Description contains NO Personal Information"
- [x] Validation of the checkbox
- [x] POST request update

[2021-09-15 20:16] lmullane commented on #491
Thanks, @arielleandrews

Are these scenarios captured in #31?

[2021-09-15 20:57] lmullane opened #500 "Assign ministry team field"
* As a ministry coordinator or IAO analyst
* I want a field on the request view to assign a ministry team/coordinator
* so that I know who is responsible for a request at the ministry

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: Call for Records**
* GIVEN a request is in the Call for Records and onwards stat

[2021-09-15 21:21] #238 closed

[2021-09-15 21:32] JHarrietha-AOT commented on #491
Checkbox design has been added to "Intake in Progress". Below is a screenshot as well for reference

![Screen Shot 2021-09-15 at 2.12.08 PM.png](https://images.zenhubusercontent.com/6081a3ba692e484184671a59/38e4758b-2ee4-404f-b811-728bc0e705be)

[2021-09-15 21:39] JHarrietha-AOT commented on #484
Design Update of Modal with removed dropdowns as discussed earlier this week

![Screen Shot 2021-09-15 at 5.16.06 PM.png](https://images.zenhubusercontent.com/6081a3ba692e484184671a59/1e0b9d53-aa35-462d-9b53-97dbc7de439e)

[2021-09-15 22:14] sumathi-thirumani-aot commented on #496
Sample Request and Response:
POST http://localhost:15000/api/foirawrequest/1
{"id":"1","wfinstanceid":"8014133c-1665-11ec-a355-0242ac1a0003","ispiiredacted":true,"sourceOfSubmission":"onlineform","requestType":"general","firstName":"Sumathi","middleName":null,"lastName":"Thirumani","businessName":null,"currentState":"Unopened","receivedDate":"2021 Sep, 15","receivedDateUF":"2021-09-15 13:42:50.548

[2021-09-15 22:15] sumathi-thirumani-aot commented on #496
Sample GET API request and response:
GET http://localhost:15000/api/foirawrequest/1
{"id": "1", "wfinstanceid": "8014133c-1665-11ec-a355-0242ac1a0003", "ispiiredacted": true, "sourceOfSubmission":
"onlineform", "requestType": "general", "firstName": "Sumathi", "middleName": null, "lastName": "Thirumani",
"businessName": null, "currentState": "Intake in Progress", "receivedDate": "2021 Sep, 15", "r

[2021-09-15 22:17] sumathi-thirumani-aot opened #501 "Backend Changes to provide the description summary based on role (#31)"
Definition of Done

- [x] Support auditing of description at rawrequest level
- [x] Support auditing of description at ministryrequest level
- [x] Only changed records to be sent
- [x] Inclusion of original request in response should be based on group "Intake Team"
- [x] Validate path param for Bad Request
- [x] Support authentication
- [x] Support CORS
- [x] Unit testing

[2021-09-15 23:23] lmullane commented on #500
@arielleandrews , @JHarrietha-AOT, please read the scenarios above.

Question - should the IAO analyst be able to change the ministry assignee? I'm thinking no. They assign it to the team when they change the state to CFR. That way a request is not missed.

The only person who needs to be able to change who the ministry assigned to field is the ministry coordinator.

How do you think it should wor

[2021-09-15 23:25] abin-aot opened #502 "State Transition Updates(#484 , #453)"
Title of ticket:

#### Description
This task will cover the state transition updates from Intake In Progress to Open, Redirect, Closed. "AND" as per the User Story assumptions "Assigned To" will be covered on later sprints/user stories

#### Dependencies
Are there any dependencies?

#### DOD
- [ ]  State update capturing on backend as per the front end status with versioning.
- [ ] All existing va

[2021-09-16 15:03] arielleandrews commented on #500
Agree @lmullane, only IAO staff should be able to change the IAO assignee, and only Ministry staff should be able to change the Ministry assignee. I don't think we need to restrict which Ministry staff can change their own assignees at this point. If the Coordinator is away their Manager or back-up person may want to change the assignee

[2021-09-16 15:33] JHarrietha-AOT commented on #500
@arielleandrews That's what I was thinking as well Ministries and IAO want to have the reference of the other who is assigned, but they only need to edit their respective fields. Otherwise looks good.

[2021-09-16 16:28] arielleandrews commented on #31
@divyav-aot Scenarios have been updated in this ticket to reflect more detail on the No Personal Information checkbox. I will close #491 as duplicate. Jackie's updated design:
![image](https://user-images.githubusercontent.com/82615839/133650027-0164789d-e8d0-48c4-baa0-1cff1db0ac71.png)

[2021-09-16 16:29] #491 closed

[2021-09-16 16:29] arielleandrews commented on #491
duplicate

[2021-09-16 16:58] lmullane commented on #31
Thanks, @arielleandrews. I was going to ask we make this change. You're on it.

[2021-09-16 17:09] lmullane commented on #500
Agreed. Anyone on the ministry team can change the ministry assignee (for the pilot in our system there will be only 1 role which is ministry coordinator). We may add future roles when we release reporting functionality (i.e. reviewers: ADMS, DMs)

Appreciate how we are thinking through these requirements as a team!

[2021-09-16 20:53] lmullane opened #503 "Watch a request"
* As an IAO analyst or ministry coordinator
* I want to be able watch a request
* so that I can be informed of what's happening with a request

**Assumptions & Scope**
What are the assumptions for this story?

- Ministry coordinators will only be able to watch a request specific to their ministry (i.e. they will not see requests in an 'Unopened' or 'Intake in Progress' state or requests for anothe

[2021-09-16 20:55] lmullane opened #504 "Add a watcher"
* As a (type of user)
* I want (goal)
* so that (reason/ why/ value)

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

- In scope is viewing and making other users a watcher. Out of scope (covered in #503) is when a user makes themself a watcher or unwatches a request.

**Acceptance Criteria**

**Scenario 1: No watchers**
* GIVEN the ministry coordina

[2021-09-16 21:04] lmullane commented on #503
@JHarrietha-AOT, I've written up the scenarios of how a user either watches or unwatches a request following the pattern in GitHub.

What I like about the GitHub pattern is the primary action is for a user to either watch or unwatch a request, and can be done with one click. Making others a watcher is secondary and takes more time.

Please review and advise if this is what you were thinking?

Note

[2021-09-16 21:58] arielleandrews commented on #503
To clarify @lmullane - are these written so that the light blue side of the button will read Watcher or Unwatch based on the user who is viewing the request and whether or not they are a watcher, and can be used to switch that user only from Watch to Unwatch? And then the dark blue side of the button will be used to expand and assign other users as Watchers?

[2021-09-16 22:09] lmullane commented on #504
@arielleandrews and @JHarrietha-AOT, please review the acceptance criteria above.

Questions to consider:

- As multiple watchers can be selected at one time, how is the dropdown closed and when is the change logged (i.e. do we need a 'Done' button at the bottom of the drop down)? We will need a scenario for this but need to decide how it works first
- Should a ministry coordinator be able to chan

[2021-09-16 22:18] lmullane commented on #503
Yes, that's correct. See the Watch function at the top of this Github page on the right.

The premise is that an individual does not want to search for their name on a dropdown to watch or unwatch a request. They know who they are and so does the app!

[2021-09-16 22:18] lmullane commented on #503
#504 has the scenarios for adding someone else to be a watcher.

[2021-09-16 22:35] arielleandrews commented on #504
- A 'Done' button makes sense to me. Would a 'Cancel' button also be required then? I think likely yes
- Agreed. Same with assignments, I think only IAO users can change IAO watchers and only Ministry users can change Ministry watchers
- Would it make sense that you only see the watchers for your organization (IAO vs Ministry) and not the others? Simple one column display in the drop down. Otherwi

[2021-09-16 23:06] lmullane commented on #504
Thanks, @arielleandrews

Great feedback. I'll revise so that IAO can only select their team members. Make sense to be consistent with how we manage assignees.

Question is whether or not they need to see each others watchers. May be unnecessary. @JHarrietha-AOT would be good question for the research sessions. If yes, they will need to be greyed out (i..e not selectable) but my thinking is they do

[2021-09-16 23:16] lmullane opened #505 "Add a ministry watcher"
* As a ministry coordinator
* I want to be able to add a ministry watcher(s)
* so that they can be informed on the status of the request

**Assumptions & Scope**
What are the assumptions for this story?
Only a ministry coordinator can add or view ministry watchers

What is in and not in scope?

**Acceptance Criteria**

Scenario 1: No watchers
GIVEN the ministry coordinator is on a request view
WHE

[2021-09-16 23:16] lmullane commented on #505
@arielleandrews, splitting the story into one for coordinators, one for IAO analysts.

[2021-09-16 23:17] lmullane commented on #505
See #503 and #504 for related stories

[2021-09-17 00:02] sumathi-thirumani-aot commented on #501
Description summary for rawrequest:
GET http://localhost:15000/api/foiaudit/rawrequest/1/description
Response:
{
    "audit": [
        {
            "createdAt": "2021-09-16 21:03:22",
            "createdBy": "suthirum@idir",
            "description": "TEST",
            "fromDate": null,
            "status": "Intake in Progress",
            "toDate": null
        }
    ]
}

[2021-09-17 00:03] sumathi-thirumani-aot commented on #501
Description summary for ministryrequest:
GET http://localhost:15000/api/foiaudit/ministryrequest/2/description
Response:
{
    "audit": [
        {
            "createdAt": "2021-09-16 21:03:22",
            "createdBy": "suthirum@idir",
            "description": "TEST",
            "fromDate": null,
            "status": "Intake in Progress",
            "toDate": null
        }
    ]
}

[2021-09-17 15:10] JHarrietha-AOT commented on #441
@arielleandrews Could you review this if you have time today. Happy to have you make changes within the document itself if you feel comfortable to do so. Otherwise leaving comments works as well. Thanks

https://bcgov.sharepoint.com/:w:/t/03521/EWCqeRCI9CZCpJZwIdRHgcEBEiNMLa0sB0UJuQISfOH3jA?e=r6Kx2q

[2021-09-17 15:11] JHarrietha-AOT commented on #442
https://teams.microsoft.com/l/file/F5900162-50BE-442D-B172-B413E609D1EE?tenantId=6fdb5200-3d0d-4a8a-b036-d3685e359adc&fileType=docx&objectUrl=https%3A%2F%2Fbcgov.sharepoint.com%2Fteams%2F03521%2FShared%20Documents%2FGeneral%2FUser%20Research%2FSprint%209%20%26%2010%20-%20Ministry%20CFR%2FUX%20Research%20-%20Sprint%2010%20-%20Plan.docx&baseUrl=https%3A%2F%2Fbcgov.sharepoint.com%2Fteams%2F03521&serv

[2021-09-17 17:16] lmullane commented on #503
@arielleandrews, yes, that is how they are written.

My thought is that I want to quickly make myself a watcher or a non-watcher for a request with one click. My assumption is the user will prefer this to clicking to open a drop down, scrolling to find his or her name, click to check a box, then clicking a 'Done' or 'Save' button to save the change.

[2021-09-17 17:22] arielleandrews commented on #503
Makes sense @lmullane, I like it. Scenarios look good to me

[2021-09-17 17:35] lmullane opened #507 "Prototype fee estimates"
Title of ticket:

#### Description
Create a prototype for Fee Estimates.

#### Dependencies
Are there any dependencies?

This is intertwined with State Updates, but has the tricky flow that the when the ministry coordinator sends a fee estimate the request stays in the CFR state until the IAO analyst approves and then sends the fee estimate to the applicant. Only when it's sent to the applicant do

[2021-09-17 17:42] lmullane opened #508 "Change request from CFR to Review"
* As a ministry coordinator
* I want to be able to change the state of a request from CFR to Review
* so that I can assign it to the IAO team for records review

**Assumptions & Scope**
What are the assumptions for this story?
- For ministry: Send to generic team, not individual members
- Assuming happy path

Not in scope:
- Fee estimates

**Acceptance Criteria**

**Scenario 1: Open request Dropdo

[2021-09-17 17:54] lmullane commented on #508
This story assumes that we have built the ministry specific queue under a different story as per @JHarrietha-AOT design. So building the queue is not in scope, but displaying the updated request state is in scope.

Emailing a link to the CFR folder on the LAN is also not in scope.

@arielleandrews, the assumption is that only a ministry coordinator will have the permissions to change the state of

[2021-09-17 18:45] lmullane opened #509 "Change a request from Review to Consult"
* As a (type of user)
* I want (goal)
* so that (reason/ why/ value)

**Assumptions & Scope**
What are the assumptions for this story?

What is in and not in scope?

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (what you see)

**Scenario 2: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you do)
* THEN ... (wh

[2021-09-17 18:46] lmullane commented on #509
@arielleandrews, question for you - who would change request from Review to Consult? Assume it is the IAO analyst.

[2021-09-17 18:48] arielleandrews commented on #509
@lmullane correct, IAO analysts make the decision to send consultations and take all associated actions

[2021-09-17 18:50] lmullane commented on #509
Thanks, @arielleandrews. Is there reasons that need to be selected for a Consult?

[2021-09-17 18:53] arielleandrews commented on #509
Nope, no reasons. Consultations are sent because another public body has authored and/or has interest in the content of the records and we want to get their views on disclosure

[2021-09-17 18:57] lmullane commented on #509
Super. Please review above. Following the common pattern we have established.

[2021-09-17 18:57] divyav-aot commented on #31
@JHarrietha-AOT , @arielleandrews  - one query regarding the username in description history.
If the original request is from OnlineForm then, we don't have a username for that. What should we display as username? "Online Form".
![image.png](https://images.zenhubusercontent.com/6081a4273965c56c02fdc82c/bb546b57-5daa-4de4-87df-fc4897e54166)

[2021-09-17 19:05] arielleandrews commented on #31
@divyav-aot 'Online Form' makes sense to me.

[2021-09-17 19:11] arielleandrews commented on #509
Thanks @lmullane, a couple questions:
- Scenario 3: this reads as incomplete to me. Should this be for the IAO Analyst who is changing the state from Review to Consult? And is able to successfully Save the state change?
- Scenario 4: for Ministry Coordinators, would it make sense just to have the Consult state greyed out for them, so they can't select it in the first place? Or should this be writt

[2021-09-17 21:48] divyav-aot commented on #31
thanks @arielleandrews

[2021-09-17 22:06] lmullane commented on #509
@arielleandrews, 3 and 4 should be for the IAO analyst. Revised accordingly.

[2021-09-17 22:12] lmullane opened #510 "Change state from Review to Ministry Signoff"
*As an IAO analsyt
* I want to be able to change the state of a request from Review to Ministry Signoff
* so that I can assign to the ministry coordinator to get their exec signoff

**Assumptions & Scope**
What are the assumptions for this story?

- Only an IAO analyst can change a request from Review into the Ministry Sign Off state

Not in scope:
- Phased records releases are not in scope
- Chan

[2021-09-17 22:15] lmullane opened #511 "Change from Consult back to Review"
*As an IAO analsyt
* I want to be able to change the state of a request from Consult to Review
* so that I can assign I can make any further changes based upon the consultation

**Assumptions & Scope**
What are the assumptions for this story?

- Only an IAO analyst can change a request from Consult into back into the Review state

Not in scope:
- Change from Review to Consult; covered in #509
- Ch

[2021-09-17 22:18] lmullane commented on #511
@arielleandrews, the workflow captured in Miro shows that a request in a Consult state can not be Closed:

https://miro.com/app/board/o9J_l9AKkos=/

Is this correct?

[2021-09-17 22:25] lmullane opened #512 "Change of state from Ministry Sign Off to Response"
** As a ministry coordinator
* I want to be able to change the state of a request from Ministry Sign Off to Response
* so that I can inform the IAO team the records are ready for release

**Assumptions & Scope**
What are the assumptions for this story?

- Only a ministry coordinator can change a request from Ministry Sign Off into a Response state

Not in scope:
- Getting sign off from Exec; that

[2021-09-17 22:30] arielleandrews commented on #511
Good catch @lmullane. In theory yes a request can go from Consult to Closed (likely only if the applicant decided to withdraw the request while consultations were being done).

[2021-09-17 22:33] arielleandrews commented on #509
Thanks @lmullane. Scenarios look good to me!

[2021-09-17 22:44] lmullane commented on #512
@arielleandrews, @m-prodan and @JHarrietha-AOT, should we require the ministry coordinator to click a box confirming they have exec sign off and/or upload an attached proof of sign off within the modal/view before they can click 'Save Change' to complete the state change to Response.

I think we should.

The time stamped approval confirmation and attached document could be captured as a posted com

[2021-09-17 22:53] arielleandrews commented on #512
I agree @lmullane, I think that's best practice. We'll need to be mindful in the design to ensure IAO receives the proper documentation - depending on the response type a full sign form is required vs. some where only a written statement from a coordinator is necessary. But I agree an action to confirm approval has been obtained will reduce risk

[2021-09-17 22:53] lmullane commented on #509
Thanks, @arielleandrews

[2021-09-17 22:55] lmullane commented on #512
Perfect. I will revise the scenarios once @JHarrietha-AOT does a design to capture this requirement to confirm proof of approval.

[2021-09-20 17:23] JHarrietha-AOT commented on #442
Updated Link: https://teams.microsoft.com/l/file/F5900162-50BE-442D-B172-B413E609D1EE?tenantId=6fdb5200-3d0d-4a8a-b036-d3685e359adc&fileType=docx&objectUrl=https%3A%2F%2Fbcgov.sharepoint.com%2Fteams%2F03521%2FShared%20Documents%2FGeneral%2FUser%20Research%2FSprint%209%20%26%2010%20-%20Ministry%20CFR%2FUX%20Research%20-%20Sprint%2010%20-%20Plan.docx&baseUrl=https%3A%2F%2Fbcgov.sharepoint.com%2Fteam

[2021-09-20 17:25] JHarrietha-AOT commented on #441
Please review when you have a chance @lmullane @mpilchar @m-prodan

https://teams.microsoft.com/l/file/F5900162-50BE-442D-B172-B413E609D1EE?tenantId=6fdb5200-3d0d-4a8a-b036-d3685e359adc&fileType=docx&objectUrl=https%3A%2F%2Fbcgov.sharepoint.com%2Fteams%2F03521%2FShared%20Documents%2FGeneral%2FUser%20Research%2FSprint%209%20%26%2010%20-%20Ministry%20CFR%2FUX%20Research%20-%20Sprint%2010%20-%20Plan.

[2021-09-20 20:36] m-prodan commented on #442
Research plan looks good to me! I flagged one of the questions that looks like it's incomplete (or maybe it was meant to just be the following question), and I suppose we'll need the schedule updated to reflect the sessions, but otherwise looks good!

[2021-09-20 21:25] mpilchar commented on #441
made a couple minor comments. Looks great Jackie, thanks!

[2021-09-20 22:42] lmullane commented on #442
@JHarrietha-AOT, I have put a suggestion in the plan - give each coordinator one task (i.e. Your task is to review a request that just came in under Call For Records and to update the request with the responsible division).

I'd be interested to see if the coordinator can complete the big task without signposts on the way.

After they went through the entire task you could ask your questions about

[2021-09-21 00:29] mpilchar commented on #494
Reached out to:
Sid Bhaskara - Scrum Master for Public Cloud to get policies
Dea De Jarisco (Exchange Lab partner) / Derek Masselink (digi academy) / Coralynn Mailey (SM data roadmap) - for any current resources/artefacts that exist to onboard a new data architect to government
cc @lmullane

[2021-09-21 14:31] #441 closed

[2021-09-21 14:31] JHarrietha-AOT commented on #441
Study Guide has been updated based on feedback provided from the team. Moving to close prior to starting sessions with Ministries Today.

[2021-09-21 18:03] JHarrietha-AOT commented on #479
Session 1 Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%201%20-%20Alexandra%20Kavadas%20-%20ENV%20-%20Tues.%20Sept%2014.mp4

[2021-09-21 18:05] JHarrietha-AOT commented on #479
@m-prodan @arielleandrews

Session 2 - Carrie Preziuso - EDUC needs to be rescheduled as she is away. Just wanted to track in a comment here so we have a record. Please comment when we have a rescheduled time

[2021-09-21 18:44] sumathi-thirumani-aot opened #513 "Workflow & API Changes for Close Request (#360)"
This covers the workflow and api changes for closing the FOI request.

DOD

- [x]  The system should allow closing of foi request before opening.
- [x]  The system should allow closing of foi request after opening.
- [x]  Unit Testing

[2021-09-21 18:45] sumathi-thirumani-aot opened #514 "Create KC Groups for ministries (#360)"
Definition of Done

- [x] Create Groups for all ministry groups
- [x] Create test user account and map to respective ministry group

[2021-09-21 19:04] sumathi-thirumani-aot commented on #514
Group Name Format -> <ACRONYMN> Ministry Team

[2021-09-21 20:33] arielleandrews commented on #508
@lmullane this one might make sense to have both Ministry and IAO staff have permissions to change - I'm thinking about when records are sent to us for deduplication, the line is not as clean between who is responsible for what. IAO then has the records for Review but the Ministry may still be working on completing their Harms Assessment, and sometimes ministries don't send all their records at on

[2021-09-21 20:58] sumathi-thirumani-aot commented on #514
Credential:
**Foi!123**
Test IDs:
foiaed@idir
foifnr@idir
foitac@idir
foigcp@idir

foiagr@idir
foihlth@idir
foitra@idir
foiiio@idir

foimag@idir
foiirr@idir
foiocc@idir
foioop@idir

foicfd@idir
foijer@idir
foipsa@idir
foildb@idir

foictz@idir
foilbr@idir
foibrd@idir
foitic@idir

foiedu@idir
foimha@idir
foiclb@idir
foiobc@idir

foieml@idir
foimma@idir
foicas@idir
foimgc@idir

foimoe@idir
foipss@idi

[2021-09-21 21:07] JHarrietha-AOT commented on #479
Session 2 - Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%202%20-%20Darlene%20Grieve%20-%20HTH%20-%20Tues%20Sept%2021.mp4

[2021-09-22 00:32] abin-aot commented on #490
New Holiday has come! - "National Day for Truth and reconciliation": we need to check the package  or having static logic json to add the holidays
![image.png](https://images.zenhubusercontent.com/607de5aafedfab08839427c4/4ac5f1c6-8c66-4009-8382-31ae0514b6c0)

[2021-09-22 17:10] sumathi-thirumani-aot opened #518 "Workflow and API changes for Call for Records (#360)"
This covers the workflow and api changes for CFR the FOI request.

DOD

- [x]  The system should allow CFR of foi request after opening.
- [x]  Unit Testing

[2021-09-22 17:10] acoard-aot commented on #58
Quick update, will discuss more at next standup.

SonarQube is up and running in tools environment.

![image.png](https://images.zenhubusercontent.com/6081a3d1bee65b11f6b36f46/e0d23c33-9266-4ea4-a3cf-c238824e3ef4)

There are some issues with integrating with Github Actions though. The good news is we still can still run scans locally and get value out of it even if not as much as full integration.

[2021-09-22 17:28] lmullane commented on #58
Thanks for the update, @acoard-aot

Suggest following up with @saravanpa-aot. He can give the lowdown on the Registries use of GitHub actions.

[2021-09-22 17:48] acoard-aot commented on #58
You're one step ahead of me! Right after this I touched base with Sararvan.  He said they were using SonarSource, and apparently it's free for OpenShift projects.  I'm looking into self service now, I think I have to open a ticket, but I'll go through with it.

https://sonarcloud.io/organizations/bcgov-sonarcloud/projects

[2021-09-22 18:06] lmullane commented on #58
Great, thanks

[2021-09-22 19:05] m-prodan opened #521 "Change of State from Records Review to Call for Records"
* As a FOI Analyst, when a request has a completed call for records action, and the file is under review
* I want to be able to revert the state back to CFR
* so that I can trigger another records search

**Assumptions & Scope**
This story addresses the occasional need for a request to have another call for records while under review.

**Acceptance Criteria**

**Scenario 1: Change Status to Call f

[2021-09-22 19:07] m-prodan commented on #521
@lmullane - this is the story out of refinement yesterday. I may have made it too big, I was thinking about the fact that most call for records triggered late wouldn't necessarily have a due date, but analysts may want to set one depending on the circumstances. Let me know if I should split this up, and we could consider establishing a due date later, and just start with a more simple change of st

[2021-09-22 20:12] #497 closed

[2021-09-22 20:12] #501 closed

[2021-09-22 20:13] #498 closed

[2021-09-22 20:13] #496 closed

[2021-09-22 20:13] #490 closed

[2021-09-22 20:16] divyav-aot opened #523 "Code merge #31 and #470,#453"
Title of ticket:

#### Description
Merge changes of #31 and #470, #453

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Merge code
- [x] Integration test
- [x] Issue fixes, if any

[2021-09-22 22:01] divyav-aot opened #525 "landing page shows a white box if the user login is in the cache"
Title of ticket:

#### Description
Steps to reproduce -
1. Login to foi-flow application
2. page will show dashboard
3. change the url to the landing page (http://localhost:3000)
4. shows a white box in the page

Expected Behavior:
if the user is already logged in then, http://localhost:3000 should automatically load the dashboard page.

#### Dependencies
Are there any dependencies?

#### DOD
- [

[2021-09-22 22:17] abin-aot commented on #470
Technically, we have to recreate Tabpanel with Custom JS based logic from our earlier Material UI design. Moved TabControl inside FOIRequest React Component

[2021-09-22 22:26] divyav-aot opened #526 "Flickering state when review request"
Title of ticket:

#### Description
Steps to reproduce:
1. login to the application
2. from the dashboard click on any Open/Redirect/Closed request
3. review request page load with Unopened State and suddenly changes to Open/Redirect/Closed
4. the color change is visible

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be cons

[2021-09-22 22:26] abin-aot opened #527 "Queue Update, Dashboard authorization for ministry team- CFR (#360)"
Title of ticket:

#### Description
On this task , we are updating the request queue for ministry team for CallForRecords status with backend security, as per Keycloack group

#### Dependencies
Are there any dependencies?

#### DOD
- [x] For a ministry(specific - ARR, MOE etc) team member will only see CFR requests assgined to their ministry
- [x]  Should be able to navigate to the request details

[2021-09-22 23:02] divyav-aot opened #529 "Modal for Open Request (#484)"
Title of ticket:

#### Description
Modal for Open Request (#484)
![image.png](https://images.zenhubusercontent.com/6081a4273965c56c02fdc82c/57115eaf-fb75-4ca9-9bf9-01d3edefe031)

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] UX design
- [ ] Show state and assignedTo in the modal
- [ ]
- [ ]
- [ ]

[2021-09-22 23:04] divyav-aot opened #530 "Modal for CFR (#360)"
Title of ticket:

#### Description
Modal for CFR (#360)
![image.png](https://images.zenhubusercontent.com/6081a4273965c56c02fdc82c/60cdebbd-1975-4b8c-bd99-051b72456548)

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] UX design
- [ ] Find Ministry AssignedTo
- [ ] Bring FileNumber, state, IAO assignedTo and Ministry AssignedTo to the Modal
- [ ]
- [ ]

[2021-09-22 23:08] divyav-aot opened #531 "BE and WF changes for #360"
Title of ticket:

#### Description
WF updates

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Ministry Assignee claim
- [ ] state changes in WF - CFR, Closed and Redirect
- [ ] API changes
- [ ]

[2021-09-22 23:52] #470 closed

[2021-09-22 23:56] #523 closed

[2021-09-23 15:42] JHarrietha-AOT commented on #479
Session 2 - Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%203%20-%20Tara%20MacNair%20-%20MUNI%20-%20Wed%20Sept%2022.mp4

[2021-09-23 15:42] JHarrietha-AOT commented on #479
Session 4 - Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%204%20-%20Danny%20Courcy,%20Luke%20Rioux%20-%20MUNI%20-%20Wed%20Sept%2022.mp4

[2021-09-23 15:58] mpilchar commented on #458
Pilot vision/scope shared at Sept 14 demo

[2021-09-23 15:58] #458 closed

[2021-09-23 16:33] acoard-aot opened #533 "Refactor OpenShift Templates: Environment Variables, Secrets, ConfigMaps"
Title of ticket: Refactor OpenShift Templates: Environment Variables, Secrets, ConfigMaps

#### Description
(Related to #225)

The original OpenShift request-management-api template still works fine.  However as development as continued, environment variables have been added directly to the deployment configs.

We should now take stock of the new envs, and go add them back to the original OpenShif

[2021-09-23 18:10] acoard-aot opened #538 "Resolve SonarQube Bugs"
Title of ticket: Resolve SonarQube Bugs

#### Description
Resolve bugs found here: https://sonarcloud.io/project/issues?id=bcgov_foi-flow&resolved=false&types=BUG

Note: SonarQube will flag and error on the introduction of any _new_ bugs.  However, there are still a number of reported bugs from previous builds we have to fix.

15 total.

#### Dependencies
None.

#### DOD
- [ ] All bugs in SonarQub

[2021-09-23 18:13] lmullane commented on #58
@acoard-aot. btw, when we get this all setup it would be great to get a demo.

[2021-09-23 18:16] acoard-aot opened #539 "Resolve SonarQube CodeSmells"
Title of ticket: Resolve SonarQube CodeSmells

#### Description
Resolve SonarQube CodeSmells here: https://sonarcloud.io/project/issues?id=bcgov_foi-flow&resolved=false&types=CODE_SMELL

307 CodeSmells at time of ticket creation.

#### Dependencies
None.

#### DOD
- [ ] Critical CodeSmells resolved
- [ ] Major CodeSmells resolved
- [ ] Minor CodeSmells resolved

[2021-09-23 18:18] acoard-aot opened #540 "Resolve SonarQube Security Hotposts"
Title of ticket: Resolve SonarQube Security Hotposts

#### Description
Resolve bugs found here: https://sonarcloud.io/project/security_hotspots?id=bcgov_foi-flow

4 total

#### Dependencies
None.

#### DOD
- [x] CSRF Issue Fixed
- [x] Weak Crypto
- [x] Log Injection (x2)

[2021-09-23 22:00] JHarrietha-AOT commented on #479
Session 5 - Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%205%20-%20Nicole%20Forward%20-%20MUNI%20-%20Thurs%20Sept%2023.mp4

[2021-09-23 22:00] JHarrietha-AOT commented on #479
Session 6 - Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%206%20-%20Vicki%20Hudson%20-%20MUNI%20-%20Thurs%20Sept%2023.mp4

[2021-09-23 22:57] mpilchar opened #542 "Working Group admin"

[2021-09-23 22:57] #542 closed

[2021-09-23 23:05] mpilchar opened #543 "Working Group admin"
#### Description
These are the follow up actions to the Sep 23 working group meeitng

#### DOD
- [x] Molly to create a shared space where working group team members can populate an agenda
- [x] Add Karla's replacement to attendance list
- [x] Matt to schedule 30 min recurring monthly meeting until Dec 2021, share link to agenda with invitation for members to drive future agendas with topics they w

[2021-09-23 23:05] mpilchar commented on #543
cc: @arielleandrews @lmullane

[2021-09-23 23:13] mpilchar commented on #543
I have created blank agendas in miro @m-prodan https://miro.com/app/board/o9J_lwDMCMs=/

[2021-09-24 00:15] acoard-aot opened #544 "Integrate Code Coverage Into SonarQube"
Title of ticket: Integrate Code Coverage Into SonarQube

#### Description
SonarQube should include test coverage into

https://docs.sonarqube.org/latest/analysis/coverage/

#### Dependencies
The unit tests must be runnable and generate coverage reports in a format that SonarQube can read.  More can be read here: https://docs.sonarqube.org/latest/analysis/coverage/

#### DOD
- [ ] Python unit tests

[2021-09-24 00:21] acoard-aot commented on #544
Potential solution:  https://github.com/SonarSource/sonarcloud-github-action

Use above to run unit tests, then generate coverage file on every PR.

[2021-09-24 08:00] sumathi-thirumani-aot opened #545 "Workflow & API Changes for Redirect Request (#360)"
This covers the workflow and api changes for redirecting the FOI request.

DOD

- [x]  The system should allow redirecting of foi request before opening.
- [x]  Unit Testing

[2021-09-24 15:58] lmullane commented on #543
Thanks for tracking this , @mpilchar

[2021-09-24 16:23] sumathi-thirumani-aot opened #546 "Workflow & API Changes for Assignment of CFR"
While marking a request for "Call for Records"; it should have been assigned to default group "{Ministry Acronym} Ministry Team".

DOD

- [x] Default Assignment to group "{Ministry Acronym} Ministry Team" should be on workflow side.
- [x] Unit Testing.

[2021-09-24 16:25] acoard-aot commented on #58
Integration completed, marking task as complete.

Future SonarQube devops work in #544 (test integration / code coverage)

[2021-09-24 16:25] #58 closed

[2021-09-24 16:57] divyav-aot opened #547 "Unit test cases for #31"
Title of ticket:

#### Description
Write unit test cases for the FE

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] service level
- [ ] component level
- [ ]
- [ ]
- [ ]

[2021-09-24 17:00] m-prodan commented on #31
I've completed my testing for this one - all seems to pass AC, but there is one thing I am confused by that I've not been able to test properly:

Scenario 7: Show versions not including original to ministry coordinators of the description history
GIVEN the request description has been updated using the "Redact Personal Information" checkbox
WHEN the ministry coordinator clicks on 'Description Hist

[2021-09-24 17:32] m-prodan commented on #31
Disregard the note above @divyav-aot helped clarify for me. Scenario 7 has now passed, will be closing this ticket :)

[2021-09-24 17:32] #31 closed

[2021-09-24 17:39] #531 closed

[2021-09-24 20:20] m-prodan commented on #543
Meetings have been scheduled for third thursday of a given month at 3PM until the end of the year. I've included the link to the Miro board, but I also advised that we would send out a reminder ahead of time. I'll set calendar reminders for myself for the Monday of our WG meeting week.

[2021-09-24 20:26] m-prodan commented on #543
Also updated our membership list on the WG TOR - is there a separate space for an attendance list somewhere, or can we consider this one closed @mpilchar?

[2021-09-24 20:55] JHarrietha-AOT commented on #479
Session 8 - Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%207%20-%20Carrie%20Preziuso%20-%20EDUC%20-%20Fri%20Sept%2024.mp4

[2021-09-24 22:58] mpilchar commented on #526
Noting that the flicker was present when QAing #453. When closing out of a modal, it will flicker back to whatever the previous state was on dropdown menu (including colour change), before landing on the intended state

[2021-09-24 23:49] mpilchar commented on #453
Passed QA test as expected

[2021-09-24 23:49] #453 closed

[2021-09-25 00:26] mpilchar opened #550 "Save button on new request can be clicked unlimited times"
**Describe the tech debt**
- When generating new requests to test #453, I noticed that on a new request page, I am able to press "save" repeatedly (after all required fields are filled out), even though no new information gets entered or changed
- This happens with a new request, or if I click into a request from the queue.
- When I hit save, the page refreshes, and then loads the same as it was b

[2021-09-25 00:40] mpilchar opened #551 "Sub-standard UI experience on smaller gov-issued devices"
**Describe the tech debt**

- While QA testing today, I noticed that when I used my government-issued laptop (a 14" windows PC), the page alignment was off (see screenshot), even at 100% zoom (standard view).
- If I manually zoom out, the alignment is fine
- Matt, who has a 15.5" government issued windows laptop, had no issues. I also had no issues when viewing on my external monitor.
- I have not

[2021-09-27 15:51] #543 closed

[2021-09-27 16:32] acoard-aot opened #554 "Cache CI/CD Install Artifacts"
Title of ticket:  Cache CI/CD Install Artifacts

#### Description
If we cache the stable parts of CI/CD builds, like install artifacts, we can make builds faster as well as use less resources.  By caching we avoid re-doing certain steps over and over that don't really change.

This will result in quicker builds for devs, quicker deploys, and less minutes used up in GitHub Actions.

https://github.

[2021-09-27 18:21] #547 closed

[2021-09-27 21:29] abin-aot opened #560 "Due date update for September 30th Holiday(national-day-for-truth-and-reconciliation)"
Title of ticket:

#### Description
A new stats holiday  has come on September 30 now, which need to be incorporated on to our DueDate calculation logic
#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Add additional "hard coded logic" if the current stats holiday package dont have an update for Sept 30th holiday
- [ ]  Analysis the business requirement , what if this date is on weeken

[2021-09-27 21:43] JHarrietha-AOT commented on #479
Session 8 -  Complete - Recording Below

https://bcgov.sharepoint.com/teams/03521/Shared%20Documents/General/User%20Research/Sprint%209%20&%2010%20-%20Recording/Session%208%20-%20Anne%20Sum%20-%20FIN%20-%20Mon%20Sept%2027.mp4

[2021-09-27 21:43] JHarrietha-AOT commented on #479
All sessions complete with recording listed above

[2021-09-27 21:43] #479 closed

[2021-09-27 22:20] mpilchar opened #561 "Ministry view - Uneditable sections on Request page"
* As a ministry coordinator
* I want to know details and date ranges of a request
* so that I know how to action the request

**Assumptions & Scope**
Assumption: I am logged in as a ministry coordinator and am in Call for Records state of the request, viewing Request Information page

What is IN scope?

What is NOT in scope?
Description history - built under Issue #31

**Acceptance Criteria**

**S

[2021-09-27 22:20] mpilchar commented on #561
@lmullane Let me know if this is how you envisioned breaking this page out. I will do Divisional tracking as a separate story

[2021-09-27 22:40] m-prodan commented on #484
All AC's passed - closing ticket :)

[2021-09-27 22:40] #484 closed

[2021-09-27 23:04] #513 closed

[2021-09-27 23:04] #514 closed

[2021-09-27 23:04] #518 closed

[2021-09-27 23:04] #527 closed

[2021-09-27 23:04] #529 closed

[2021-09-27 23:04] #530 closed

[2021-09-27 23:04] #545 closed

[2021-09-27 23:04] #546 closed

[2021-09-27 23:05] JHarrietha-AOT commented on #482
@lmullane update queue design based on feedback

![Call for Records Copy.jpg](https://images.zenhubusercontent.com/6081a3ba692e484184671a59/ebe68fa8-6ed4-4cef-9115-96461ec6b56a)

[2021-09-27 23:09] #502 closed

[2021-09-27 23:12] mpilchar commented on #494
@lmullane Any outstanding intros to make in this realm or can we close this issue?

[2021-09-27 23:12] mpilchar commented on #492
Please update DOD for this one @lmullane or @VineetBala-AOT if you get a chance

[2021-09-27 23:22] abin-aot opened #565 "State Dropdown update as per Role (468)"
Title of ticket:

#### Description
This task is to update the "Request status Listing" with disabled and enabled condition as per the User Role.

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Follow AC - State condition as per role
- [x]  Python migration scripts for new statuses
- [x]  Units tests
- [ ]  PR to DEV
- [ ]

[2021-09-27 23:25] VineetBala-AOT commented on #492
Hi @mpilchar  , I have updated as all three are completed.
CC: @lmullane

[2021-09-28 00:25] mpilchar opened #566 "Request Tracking section (CFR ministry view)"
* As a ministry coordinator
* I want to assign a CFR request to divisions within my ministry
* so that I can better track the status of the records gathering

**Assumptions & Scope**
What are the assumptions for this story?
Select divisions menu has checkboxes, but seccondary dropdown menus are just single actions to select
User must select from the menu options available/can't create their own

W

[2021-09-28 00:30] mpilchar opened #567 "Request CFR Stage Dropdown menu"
* As a ministry coordinator
* I want an overall status of the CFR for a request
* So that I have an overview of records gathering at a divisional level

**Assumptions & Scope**
What are the assumptions for this story?

What is IN scope?
"Request CFR Stage" Dropdown menu only, and changes in the ministry queue

What is NOT in scope?
Creating the front end for this dropdown menu is covered in #566 w

[2021-09-28 00:35] mpilchar commented on #567
I've created this as an issue in order to discuss it but since this evolved out of the user sessions and there's not yet a design for it, I don't have enough information to develop the scenarios.

For discussion:
- What are the menu options? (ie: In progress, on hold, completed)
- Does this dropdown menu change manually or automatically? If auto, what triggers it?
- What is the impact on the statu

[2021-09-28 00:42] mpilchar commented on #492
What will next steps be to onboard to object storage? Do we wish to expand on this DOD, or close and create a new issue for next sprint? @VineetBala-AOT

[2021-09-28 15:16] lmullane commented on #561
Looks good. Thanks, @mpilchar

[2021-09-28 15:26] lmullane commented on #566
Hey @mpilchar. as written scenarios 3, 4, and 5 are all the same scenario (i.e. can be covered in selecting one or more divisions).

What we need are two scenarios:

1. What happens when I unselect one or more division?
2. What happens when I select one or more divisions?

@JHarrietha-AOT, as the user and select or unselect more than one checkbox we need an adidtional step where they click a 'Save

[2021-09-28 15:29] lmullane commented on #567
Sounds reasonable, @mpilchar

That would mean scenario 6 in story #566 should be part of this story instead, right?

cc @JHarrietha-AOT @arielleandrews @m-prodan

[2021-09-28 15:30] lmullane commented on #489
This can be discussed in the UX priorities for next sprint meeting today.

[2021-09-28 15:34] JHarrietha-AOT commented on #482
Just want to leave a comment here, based on this discussion yesterday we will be leaving out the description from the queue at this time. 2/8 said it was required due to others emailing and calling and referencing the content of the request and not the number. In order to better in-force best practice and not try and rebuilt the existing tracker we will not include the description at this time.

[2021-09-28 15:42] m-prodan commented on #567
This isn't quite the same as scenario 6 in story #566 - this was something we heard where a Ministry was tracking multiple program areas - they wanted a higher level means to track the overall status of a given stage (ie: Call for Records, Harms Assessment, Review, Sign-Off). So for example, a request's overall status is call for records, divsion 1 and 3 are gathering records (as noted in the drop

[2021-09-28 15:51] arielleandrews commented on #567
Agree with @m-prodan's points. For the last item, I see the "overall request status" being what displays in the Ministry queue. It makes sense to me what the person sees in the queue listing is the overall status at a glance.

[2021-09-28 15:51] lmullane commented on #482
Agreed, @JHarrietha-AOT

[2021-09-28 15:59] mpilchar commented on #566
@lmullane thanks for the feedback, I have merged scenarios 3-5 into two (now 3&4)

[2021-09-28 16:01] #492 closed

[2021-09-28 17:29] mpilchar opened #568 "Determine statuses for Dropdown menus"
Title of ticket: Determine statuses for Dropdown menus

#### Description
Summarize issue

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Patrick Craib - Flex team would like to share the statuses they currently use
- [ ]
- [ ]
- [ ]
- [ ]

[2021-09-28 17:32] JHarrietha-AOT commented on #481
Attaching Miro Board Link containing all Report Out: https://miro.com/app/board/o9J_l6d8LwM=/

[2021-09-28 17:32] #481 closed

[2021-09-28 18:01] #525 closed

[2021-09-28 18:24] m-prodan opened #570 "Request Queue for Ministry Coordinators"
* As a Ministry Coordinator
* I want a queue for all requests assigned to my Ministry
* so that I can better track requests assigned to me

**Assumptions & Scope**
This story is for the request queue that will be visible to users assigned as **Ministry Coordinators**
Requests in the 'Call for Records' state that are assigned to a Ministry will be present in the queue
No editing of information on t

[2021-09-28 18:26] #526 closed

[2021-09-28 18:51] m-prodan opened #571 "Ministry Request Queue - Filter by Assignment"
* As a Ministry coordinator
* I want to filter requests assigned to me
* so that I can see action requests I am responsible for

**Assumptions & Scope**
What are the assumptions for this story?
This story addresses the experience for Ministry coordinators to filter their queue to only show requests assigned to them

What is IN scope?
Use of the radio button filter - "Assigned Requests"

What is NO

[2021-09-28 20:08] #482 closed

[2021-09-28 22:58] abin-aot opened #574 "Config map status"
Title of ticket:

#### Description
FE Statuses loading or ENUM to be referred from config map(JSON)

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-09-28 23:09] abin-aot opened #575 "Cancel refresh issue - All changes lost on Cancel"
Title of ticket:

#### Description
On the state change modal, while clicking "Cancel" all the changes on the form is going.
UPDATE : Need to preserve the data entered on the form fields as per discussion on 29/Sept

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Fix the behavior as per advice from @JHarrietha-AOT
- [ ]
- [ ]
- [ ]
- [ ]

[2021-09-28 23:31] abin-aot opened #576 "Backend updates - Add column for CFR Due date(Model Update), API Update (#452)"
Title of ticket:

#### Description
Create Backend changes for 452 - CFR Due date column, API update

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Model Update for FOIMinsitryRequests for CFR Due date
- [ ] API - GET/POST for capturing/fetching CFR due date
- [ ]  Unit test execution
- [ ]
- [ ]

[2021-09-29 11:15] sumathi-thirumani-aot commented on #370
Implementation approaches available : In memory , Redis

Approach Taken : Redis
Library : Flask-Caching.

Performance Metrics:
Without cache : ~900ms
With cache: <15ms

[2021-09-29 11:16] sumathi-thirumani-aot commented on #370
Cache implemented for listed,
1. Application Categories
2. Program Areas
3. Delivery Modes
4. Received Modes

[2021-09-29 11:21] sumathi-thirumani-aot opened #577 "Backend API for Ministry Team assignees (#500)"

[2021-09-29 15:30] divyav-aot opened #578 "FE tasks for #452"
Title of ticket:

#### Description
FE tasks for #452

#### Dependencies
Are there any dependencies?

#### DOD
- [ ]  Calculation of CFR Duedate
- [ ]  Update POST object
- [ ]  Calculation of Days remaining
- [ ] Display of Days remaining

[2021-09-29 15:50] m-prodan commented on #465
This appears to be addressed - closing this ticket, names (including group names ie: flex team) are now appearing in the queue instead of IDIR login names.

[2021-09-29 15:50] #465 closed

[2021-09-29 15:52] m-prodan commented on #199
This appears to be fixed, I no longer go to the intermediary page when I login (tried on all 3 common browsers). Sign-out also functions as expected now - closing ticket!

[2021-09-29 15:52] #199 closed

[2021-09-29 16:38] abin-aot opened #579 "Automatic assignment to Flex Team for Open Requests"
Title of ticket:

#### Description
As per the discussion on Sept 29th, discussion came up to auto-assign to Flex Team after changing from "Intake In Progress" to "Open" . Leaving discussion to @m-prodan  @arielleandrews

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-09-29 16:49] richard-aot opened #580 "FE work for Ministry Dropdown (#500)"

[2021-09-29 17:24] mpilchar opened #582 "Configure GeoDrive on Test VM"
Title of ticket:

#### Description
Explore the option to use GeoDrive to transfer archive files to Object Storage

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Install and configure GeoDrive on Test VM
- [x] Test connectivity from the VM to the Object storage
- [x] Create a large size dummy file
- [x] Test the load time from LAN to Object storage

[2021-09-29 18:23] mpilchar commented on #26
no longer relevant

[2021-09-29 18:23] #26 closed

[2021-09-29 18:28] mpilchar commented on #368
Not part of MVP - moving to icebox for now

[2021-09-29 18:35] mpilchar commented on #85
Create stories for:
- Sort for Intake - personal & all toggles
- Sort for coord - all toggle options

[2021-09-29 19:34] divyav-aot opened #583 "Dashboard keep loading if there is no rows to display"
Title of ticket:

#### Description
Dashboard keep loading if there is no rows to display
it should show "no rows" instead.
#### Dependencies
Are there any dependencies?

#### DOD
- [ ] fix the issue
- [ ]
- [ ]
- [ ]
- [ ]

[2021-09-29 21:44] m-prodan opened #584 "Posting a comment"
* As a Ministry Coordinator and IAO analyst
* I want a post a comment
* so that I can share information on a file for better tracking on a request

**Assumptions & Scope**
This story is the first step for developing our notes section for the review request view of a particular FOI request. This first build will be focused on the Ministry coordinator view for the purpose of a MVP.
Character limit:

[2021-09-29 23:05] m-prodan opened #586 "System Generated Comments - Division Tracking"
* As a Ministry Coordinator
* I want changes to the divisional stage tracked in the Request History
* so that I can see when and why changes to the request have been made

**Assumptions & Scope**
This is related to #584 following on the comments page of a request. These comments will not be editable.
If multiple stages are actioned at once, it will be in one comment.
Deleting a Division will also

[2021-09-29 23:08] m-prodan commented on #586
@lmullane @arielleandrews @mpilchar @JHarrietha-AOT  - as I was trying to write out a story for system generated notes, I thought that it might be easier/more digestible if we do it per significant system action. So in this case, the story is focused on system generated notes for changes to divisional tracking. We can do separate stories for things like extensions and legislative due date changes,

[2021-10-01 15:25] arielleandrews opened #587 "Ministry queue date colour changes"
* As a Ministry FOI Coordinator
* I want request dates that are coming due or overdue to show in different colours
* so that I can easily see which files need to be actioned

**Assumptions & Scope**
- Ministry queue has been developed already
- Records due date functionality is already in place
- Records due date and Legislated due dates operate independently

What is IN scope?
- Colour display of

[2021-10-01 19:55] sumathi-thirumani-aot commented on #577
GET http://localhost:15000/api/foiassignees/general/callforrecords/aest

Response:
[{"id": "21fe8df3-9555-4c60-b6c6-28f186dc42cb", "name": "AEST Ministry Team", "members": [{"id":
"f82306ae-12b8-47a6-92cd-2f89635147aa", "username": "divyav-aot@github", "email": "divya.v@aot-technologies.com",
"firstname": null, "lastname": null}, {"id": "c1a20c5a-0666-4bbc-ba84-74500c2487d3", "username": "foiaed@i

[2021-10-01 19:56] sumathi-thirumani-aot commented on #577
GET http://localhost:15000/api/foiassignees/group/aestministryteam
Sample Respnse:
[{"id": "21fe8df3-9555-4c60-b6c6-28f186dc42cb", "name": "AEST Ministry Team", "members": [{"id":
"f82306ae-12b8-47a6-92cd-2f89635147aa", "username": "divyav-aot@github", "email": "divya.v@aot-technologies.com",
"firstname": null, "lastname": null}, {"id": "c1a20c5a-0666-4bbc-ba84-74500c2487d3", "username": "foiaed@i

[2021-10-01 20:17] sumathi-thirumani-aot opened #589 "Backend and Workflow changes for CFR to Open state (#468)"
Expected Functional Behavior: Change from CFR state back to Open

DOD
====

- [x] Login to FOI modernization with necessary privilege to change the application from state CFR to open.
- [x] Unit Testing

[2021-10-01 22:45] lmullane commented on #571
@m-prodan, @arielleandrews, assumption here is I'm on a ministry team when the request is assigned to the team then I see it as assigned to me, correct?

cc @mpilchar

[2021-10-01 23:00] arielleandrews commented on #571
I believe "All Requests" would encompass all requests assigned to the Ministry Team or any of their users, and the "My Requests" would show only the ones where the user is the assignee. @m-prodan is that what you were thinking?

[2021-10-01 23:34] abin-aot opened #590 "GET BACKEND API for Ministry Dashboard - (#570)"
Title of ticket:

#### Description
Develop security trimmed API for Ministry Team with required columns as per US #570

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] API that fetches records as per group membership as per logged in Ministry Coordinator
- [ ]  Columns as per AC, of US #570
- [ ]  Unit tests
- [ ]

[2021-10-01 23:58] lmullane commented on #571
Challenge is we assign it to the team. How does the user know they have a new CFR request if it doesn't appear in their queue?

For IAO what you 'Watch' could be different than 'Assigned to team.' For example, an analyst may want to 'Watch' a request for different ministry because it is XGov to what they are watching.

While this will not be an issue with ministry coordinators, there should be som

[2021-10-02 00:13] mpilchar commented on #567
@lmullane for your review and consideration for refinement on Tuesday.

[2021-10-02 00:19] mpilchar commented on #567
I think we probably want to have "save" as it's own story and move Scenario #3 to that issue - thoughts?

[2021-10-04 15:44] m-prodan commented on #567
It probably doesn't need to function much differently than our current save when an analyst is on the review request view. I think the save makes sense after everything is built out - the overall tracker from this story, and the divisional tracking in #566 - we could tack on saving to 566 potentially, and have both stories proceed in a future sprint so it all gets tackled at once.

[2021-10-04 16:05] divyav-aot opened #591 "FE changes for #570"
Title of ticket:

#### Description
New dashboard for Ministry users

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] React components Dashboard with new column(without personal info)
- [ ] GET API integration
- [ ] Filter options design
- [ ] Sort the request

[2021-10-04 17:12] lmullane commented on #571
Updated the AC for discussion. Thinking the functionality should be the same for a ministry coordinator or and IAO analyst.

[2021-10-04 17:44] lmullane commented on #567
@m-prodan, updated the AC to reflect the states in the designs, but think we need to discuss the working and the states.

As this is a one selection only dropdown we don't need a save button. That was required for 566 as the division selection was a one to many. Without a save button for the division selection, the dropdown would close each time a selection was made. Possible we may want an 'Ok' b

[2021-10-04 17:50] lmullane opened #593 "Select Division Stage"
* As a ministry coordinator
* I want to be able to update where a division is in responding to a CFR
* so that I can track and take action to complete the CFR

**Assumptions & Scope**
What are the assumptions for this story?

Many ministry requests will have more than one division responding to a CFR. Divisions will be in different stages in their response.

What is IN scope?

What is NOT in scope

[2021-10-04 18:06] lmullane commented on #593
@m-prodan, @abin-aot, here is an additional story for review in refinement tomorrow.

[2021-10-04 20:07] m-prodan commented on #566
@lmullane - I added divisional names, which I've had pre-validated by the Ministry coordinators for the pilot.

@JHarrietha-AOT - FYI!

[2021-10-05 00:43] abin-aot opened #595 "Backend GET API with reduced data for Ministry(No personal info) - (#561)"
Title of ticket:

#### Description
GET API which fetches the details for Review Request form for ministries. This API JSON data will not have any personal information, as compared with IAO Review Request

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Authenticated, Authorized GET API specific to each ministry team.
- [ ]  returns 401 for users outside the ministry unless its IAO
-

[2021-10-05 13:22] sumathi-thirumani-aot opened #596 "Backend API and workflow changes for state transition (#509)"
Allow IAO staff to change the status of request from review to consult

DOD
===
- [x] Allow change of state from review to consult
- [x] Assignee list to be refreshed with teams allowed for state Consult
- [x] Unit Testing

[2021-10-05 13:23] sumathi-thirumani-aot opened #597 "Backend API changes for status capture (#508)"
Allow capturing of status by the ministry coordinator

DOD
=====

- [x]  Modify the service to capture status; if sent on request else carry over the status from previous version
- [x] Unit Testing

[2021-10-05 13:23] sumathi-thirumani-aot opened #598 "Backend API and workflow changes for state transition (#510)"
Allow IAO staff to change the status of request from review to ministry sign off

DOD
===
- [x] Allow change of state from review to ministry sign off
- [x] Assignee list to be refreshed with teams allowed for state ministry sign off
- [x] Unit Testing

[2021-10-05 13:23] sumathi-thirumani-aot opened #599 "Backend API and workflow changes for state transition (#511)"
Allow IAO staff to change the status of request from consult to review

DOD
===
- [x] Allow change of state from consult to review
- [x] Assignee list to be refreshed with teams allowed for state Review
- [x] Unit Testing

[2021-10-05 14:52] sumathi-thirumani-aot opened #601 "Workflow: Create migration script for active instances."

[2021-10-05 16:11] JHarrietha-AOT commented on #568
@m-prodan @arielleandrews Did either of you have time to work on a first draft of this while I was away?

[2021-10-05 17:07] JHarrietha-AOT commented on #567
@arielleandrews @m-prodan and I are going to have a meeting discuss a finalized list to then test with Ministries. Ticket can move forward with caveat that list with need to be updated

[2021-10-05 17:13] lmullane commented on #593
Close as duplicate of #566

[2021-10-05 17:13] #593 closed

[2021-10-05 18:29] JHarrietha-AOT commented on #571
Queue Filters have been updated on designs, and on all Queue Pages whether Ministry or IAO facing

[2021-10-05 19:58] #540 closed

[2021-10-05 19:58] acoard-aot commented on #540
All issues resolved / marked as non-issues.  Re CSRF: https://security.stackexchange.com/a/166798/149676

[2021-10-05 20:35] richard-aot opened #610 "Frontend work for 508, 509, 510, 511"

[2021-10-05 21:49] sumathi-thirumani-aot opened #614 "Exception scenario handling for caching"

[2021-10-05 23:42] #589 closed

[2021-10-05 23:43] #565 closed

[2021-10-05 23:48] abin-aot opened #617 "Front End component design, Routing, props - #561"
Title of ticket:

#### Description
Design and Layout the design front end react components, integration with API created for ministry, components break

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Routes, Review request data propagation logic
- [ ]  Component Reuse
- [ ]  Development of components
- [ ] Unit tests
- [ ]

[2021-10-06 21:44] richard-aot opened #626 "Create colour scheme for ALL Request Status'"
Create colour scheme to include all Request Status'

- [x] Share with team for feedback

List of status and color we are using (I will update some of the color once I get access to InVision):
    Open: #008000
    Call For Records: #ec7d10
    Closed: #4b296b
    Redirect: #dd1155
    Unopened: #048ba8
    Intake in Progress: #048ba8
    Review: #40E0D0
    Fee Assessed: maroon
    Consult: grey

[2021-10-06 21:52] divyav-aot opened #627 "Request Description component for Review Request (#561)"
Title of ticket:

#### Description
Develop Request Description component for Review Request

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Develop Request Description
- [x] Unit test case for the component
- [ ]
- [ ]
- [ ]

[2021-10-06 23:27] abin-aot opened #632 "Service Updates, Tab Panel, request Details for Ministry Review form(#561)"
Title of ticket:

#### Description
As part of  reengineering tasks for #561 on Review request, Tab Panel and other child components need to be refined. Tabpanel need to be updated migration CFR , Duedate from review header compoents, Services,

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Service Updates
- [ ]  Tab Panel udpates for CFR, Due date calc.
- [ ] Request Details
- [ ]

[2021-10-07 15:42] divyav-aot opened #634 "AssignedTo in the dashboard shows username instead of LastName, FirstName"
Title of ticket:

#### Description
This issue got introduced after fixing the sorting issue in the dashboard

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Analyze the issue
- [ ]
- [ ]
- [ ]
- [ ]

[2021-10-07 15:50] richard-aot opened #635 "Header and Applicant Details for Ministry Review #561"
- [x] Take data from parent component

- [x] Format page according to wireframe

[2021-10-07 16:00] arielleandrews commented on #500
Thank you @divyav-aot and @richard-aot for clarifying.

QA completed, all scenarios passed in Chrome, Edge and Firefox

[2021-10-07 16:18] sumathi-thirumani-aot opened #636 "Backend API changes for CFR status (#567)"
Development of possible values for "Request CFR Stage" dropdown

DOD
===
- [x] Create DB Model to manage the CFR status
- [x] Create new rest authenticated endpoint to expose all managed CFR status in JSON format
- [x]  Migration script with options: With IAO, Fees sent to IAO, Gathering Records, Harms Assessment, Deduplication, CFR Complete, No Records Sign Off
- [x] Unit Testing

[2021-10-07 19:51] sumathi-thirumani opened #639 "Backend API Changes for Watchers (#503)"
Implementation for watchers

DOD
===
- [x] Create DB Model to manage the watchers of raw requests
- [x] Create DB Model to manage the watchers of ministry requests
- [x] Create new rest authenticated endpoint to add and remove watcher of raw request
- [x] Create new rest authenticated endpoint to add and remove watcher of ministry request
- [x] Create new rest authenticated endpoint to disable all

[2021-10-07 21:04] #599 closed

[2021-10-07 21:04] #598 closed

[2021-10-07 21:04] #596 closed

[2021-10-07 21:04] #583 closed

[2021-10-08 21:02] VineetBala-AOT opened #642 "Set up the object storage bucket for dev environment"
Title of ticket:

#### Description
This task is to create the bucket for development/production environment and test the connectivity.

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Create the bucket for development
- [x] Try to get and put sample files from the bucket
- [x] Set up production bucket for each of the ministries
- [x] Test connectivity from the VM using GeoDrive

[2021-10-08 21:55] m-prodan opened #644 "Prepare for Fee Payment Solutioning"
Title of ticket: Prepare for Fee Payment Solutioning

#### Description
Prep needed for Fee Payment Solutioning

#### DOD
- [ ] Set-up Kick-off Meeting with James, Patrick, Jacklyn and Team
- [ ] Set-up weekly checkin meetings with team and Cindy Kukucska/James Pinske

[2021-10-08 22:16] sumathi-thirumani-aot commented on #639
To remove raw request watcher
=====================

POST http://localhost:15000/api/foiwatcher/rawrequest
{
    "requestid":1,
    "watchedbygroup": "Intake Team",
    "watchedby": "sumathi",
    "isactive": false
}

Response:
{
    "id": 4,
    "message": "Request added",
    "status": true
}

[2021-10-08 22:19] sumathi-thirumani-aot commented on #639
To get raw request watchers
=====================
GET http://localhost:15000/api/foiwatcher/rawrequest/1

Sample Response:
[{"watchedby": "sumathi"}, {"watchedby": "testidir"}]

[2021-10-08 22:22] sumathi-thirumani-aot commented on #639
To add ministry request watcher
=====================

POST http://localhost:15000/api/foiwatcher/ministryrequest
{
    "ministryrequestid":1,
    "watchedbygroup": "Intake Team",
    "watchedby": "sumathi",
    "isactive": true
}

Response:
{
    "id": 6,
    "message": "Request added",
    "status": true
}

[2021-10-08 22:22] sumathi-thirumani-aot commented on #639
To remove ministry request watcher
=====================

POST http://localhost:15000/api/foiwatcher/ministryrequest
{
    "requestid":1,
    "watchedbygroup": "Intake Team",
    "watchedby": "sumathi",
    "isactive": false
}

Response:
{
    "id": 7,
    "message": "Request added",
    "status": true
}

[2021-10-08 22:23] sumathi-thirumani-aot commented on #639
To get ministry request watchers
=====================
GET http://localhost:15000/api/foiwatcher/ministryrequest/1

Sample Response:
[{"watchedby": "sumathi"}]

[2021-10-09 00:23] mpilchar commented on #570
QA testing completed - behaves as expected, however I was unable to fully test scenario 2 (remaining rows sorted oldest to newest). There were only highlighted rows with CFR status in the test view, no unhighlighted/already actioned rows. I would like to see how these are sorted before closing this. Discussed this with @abin-aot
 and we'll re-test on Tuesday.

[2021-10-12 16:49] #627 closed, assigned to divyav-aot

[2021-10-12 16:49] #617 closed, assigned to abin-aot

[2021-10-12 16:49] #595 closed

[2021-10-12 16:49] #635 closed, assigned to richard-aot

[2021-10-12 17:01] abin-aot opened #648 "POST API Update Ministry Request (#508)"
Title of ticket:

#### Description
This task is to cover the capture of ministry assignee on SAVE/POST by the MinistryCoordiantor, along with existing status change. So that Status change from CFR to review mentioned on the US #508 can be covered.

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] New JSON schema for POST , since there is a reduced data from ministry logged in user. No

[2021-10-12 17:04] JHarrietha-AOT opened #649 "Fee Processing User Flow"
Title of ticket: Fee Processing User Flow

#### Description
Creating a comprehensive user flow for how fees will be processed with Pay BC in Applicant Facing Portal.

#### Dependencies
- [ ] See what Lorens previous team did with Pay BC
- [x] Review Sessions with Intake to map out existing payment process

#### DOD
**Existing User Flow**
- [x] Create User Flow for existing Payment Process to ensur

[2021-10-12 17:04] JHarrietha-AOT opened #650 "Receipt Template"
Title of ticket: Receipt Template

#### Description
Design a Receipt Template for applicant to recieve once payment is processed

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-10-12 17:09] abin-aot opened #651 "Front End Updates - Roles level Statuses, SAVE/POST API integration (#508)"
Title of ticket:

#### Description
This task is to integrate POST API or SAVE functionality for saving ministry assignee, status(CFR to Review, and future transitions from ministry ) to DB,

#### Dependencies
Dependent on Backend functionality for #508, Task : #648 from @sumathi-thirumani-aot

#### DOD
- [ ] Front end update on state dropdown, only Request statuses from CFR is loaded on dropdown w

[2021-10-12 17:16] sumathi-thirumani opened #652 "Backend API Changes for ministry to capture assignee (#567)"

[2021-10-12 17:17] abin-aot opened #653 "Watcher Front End functionality - #503,#504,#505"
Title of ticket:

#### Description
This task is cover the front functionality related with "Request Watcher" functionality mentioned under #503 ,#504 ,#505. Backend API work will be /has been done by @sumathi-thirumani-aot on Tasks #639 .   Idea is to implement separate POST/GET call for watcher functionality apart from main request save.

#### Dependencies
Are there any dependencies?

#### DOD
-

[2021-10-12 17:19] #652 closed, assigned to sumathi-thirumani

[2021-10-12 17:26] divyav-aot opened #654 "FE changes for Watcher (#503)"
Title of ticket:

#### Description
UI Component for the watcher

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] Create UI Component
- [ ] Show the list based on role
- [ ] show selected watchers
- [ ] add new watcher
- [ ]

[2021-10-12 17:26] abin-aot opened #655 "Back End Task for Dashboard Filtering - Watching Requests , My requests, status update (#571)"
Title of ticket:

#### Description
This task is to cover the Dashboard filtering logic as per watching requests, assigned requests and status as per the Role (ministry)

#### Dependencies
Technically dependent with FE tasks of #508 (ministry assignment), #503,#504,#505 . But can do the backend part on this separately, since the BE tasks of these USs are completed.

#### DOD
- [x] Dashboard API whi

[2021-10-12 17:30] abin-aot opened #656 "Front End filter panel and updates to search/listing #571"
Title of ticket:

#### Description
Dashboard API integration for Filtering - Watching, Assigned requests

#### Dependencies
Are there any dependencies? Yes, Task #655

#### DOD
- [x] Front end filter UX/UI implementation
- [x]  Integration Updated Dashboard API
- [x]  Fix the issue with Assignee showing "Invalid User"
- [ ]  Unit tests

[2021-10-12 17:36] mpilchar opened #657 "Ministry view - Undo an accidental deletion"
* As a ministry coordinator
* I want the ability to "undo" when I accidently delete a division
* so that there is no adverse affect on my request tracking or reporting

**Assumptions & Scope**
What are the assumptions for this story?

What is IN scope?
The affect of an accidental deletion to reporting?

What is NOT in scope?

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your

[2021-10-12 17:36] mpilchar commented on #657
Added based on feedback during Oct 12/21 demo

[2021-10-12 17:38] abin-aot opened #658 "DataModel update , Program area to Division Mapping, stages etc. (#566 , #593)"
Title of ticket:

#### Description
Datamodel for Division stages, status and its mapping with Program areas.

#### Dependencies
No

#### DOD
- [x] Data Model, Entity Creation for Divisions, Divisional stages and its mapping with Program areas
- [x] Mapping Divisional Stages with Ministry Requests
- [x] Unit tests

[2021-10-12 17:44] abin-aot opened #659 "Back end API work for Divisional Stages - GET, POST API for Divisional stage integration"
Title of ticket:

#### Description
This task is bring up APIs(GET, POST) to cater DIVISIONAL STAGE to request and Capture various divisional stage of the stages to DB.

#### Dependencies
Datamodel  #658

#### DOD
- [ ] GET API for divisional stages
- [ ]  GET API update of existing Request API of fetching exising div. stages
- [ ] POST API update to save selected divisional stages
- [ ]  Unit test

[2021-10-12 17:51] abin-aot opened #660 "Front End task for Divisional Stage capturing on FOI Request(#566 / #593)"
Title of ticket:

#### Description
This task is to bring the UX/UI for inline edit/update of division and  divisional stages on FOI requests.

#### Dependencies
Are there any dependencies? Yes, Back end API

#### DOD
- [x] API integration for fetching Divisions and Divisional stages
- [x]  UX/UI task to bring seamless the Add, Edit and Remove Divisional stages as per Wireframe
- [x]  API Integrati

[2021-10-12 17:55] mpilchar opened #661 "Fees"
## Description:
- This epic covers the development work that enables FOI applicants to make payments via PayBC

* As an FOI applicant
* I want a simple way to submit payment for a fee
* so that I can proceed with my application

* What are the most critical features being built as part of this Epic
* Expected Outcome – Justification why this Feature must be built, what is expected value and justif

[2021-10-12 21:05] arielleandrews opened #663 "Change state from Sign Off to Records Review"
* As a Ministry Coordinator
* I want to be able to change the state of a request from Ministry Sign Off to Review
* so that I can ask to have changes to severing completed that were requested during Sign Off

**Assumptions & Scope**
* Only a Ministry Coordinator can change a request from Ministry Sign Off back to Review
* IAO Analyst cannot change a request from Ministry Sign Off to Review

What i

[2021-10-12 21:25] #493 closed

[2021-10-12 21:26] m-prodan opened #664 "Fill out and Submit Non-Expiring PW Request (Filewatcher)"
Title of ticket: Fill out and Submit Non-Expiring PW Request (Filewatcher)

#### Description
iStore order submitted to create non-expiring PW policy for filewatcher. Tech documentation required for approval - find time to complete form with Dev team

#### DOD
- [ ] Draft responses to request form
- [ ] Review with Dev Team
- [ ] Submit w/ PO approval to Michelle for completion

[2021-10-12 22:43] arielleandrews opened #666 "Firefox Browser Prompts for State Changes"
**Describe the bug in current situation**
In the Firefox browser on the Request Details page, when a state change is made to the request, a modal pops up from the browser asking if the user wants to Leave page or Stay on page. Selecting Leave page takes the user back to the Queue page. Selecting Stay on page keeps the user on the Request Details page, or on the Save Changes modal, but only part of

[2021-10-12 22:54] #510 closed

[2021-10-12 22:59] mpilchar opened #667 "Briefing note for Fee implementation"
#### DOD
- [x] Draft
- [x] PO approval
- [x] Exec approval

[2021-10-13 00:00] mpilchar commented on #570
@abin-aot @lmullane Appears the same as on Friday. Please advise if you think this can be closed

[2021-10-13 18:42] acoard-aot opened #668 "(PAY) Create OpenShift "pay-integration" deployment"
Title of ticket: Create OpenShift "pay-integration" deployment

#### Description
Create an OpenShift environment that the pay team can use during development.

TODO - mark this with "pay"

#### Dependencies
Are there any dependencies?

#### DOD
- [x] DEV request-management-api deployed
- [x] DEV postgres deployed
- [x] request-management-api works without camunda etc integration
- [x] PROD request

[2021-10-13 19:05] mpilchar opened #670 "Fees demo for Intake team"
Title of ticket: Fees demo for Intake team

#### Description
Summarize issue

#### Dependencies
Dependent on build / push to dev

#### DOD
- [ ] Schedule
- [ ] Meet

[2021-10-13 19:14] m-prodan opened #671 "PIA for PayBC Integration"
Title of ticket: PIA for PayBC Integration

#### Description
A PIA will be required for integration of this new service to our online web form

#### DOD
- [ ] Initial Draft
- [ ] Review by PCT
- [ ] Meeting with PCT
- [ ] Changes Made to Documentation
- [ ] Sign-Off

[2021-10-13 19:51] sumesh-aot opened #672 "FOI-WEB : Calculate fees"
Title of ticket:

#### Description
Based on the user selection calculate the number of fees applicable for the request. Then call the backend API and pass the fee code and quantity to get the fee information.

#### Dependencies
- [ ] Mathew to provide the logic to calculate the quantity
- [ ] Backend API for fees

#### DOD
- [ ] List the items that need to be complete for this ticket to be conside

[2021-10-13 19:51] sumesh-aot opened #673 "FOI-WEB : UI flow change after submission"
Title of ticket:

#### Description
Change UI flow after submission based on the request type;

If the request is Personal:
- Call Node JS API to save the request and send email.

If the request is general:
- Call Node JS API to save the request.
- Change NodeJS API to not send email.
- Call request management api to save the request.
- Return the request response from request management API to the

[2021-10-13 19:52] sumesh-aot opened #674 "FOI-WEB : Collect Payment"
Title of ticket:

#### Description
When the user clicks on Pay button:
- Call the backend API to start a payment transaction by passing the request id, fee code and quantity
- Once response is received redirect the user to PayBC.
- When PayBC redirects the user back to the FOI Web after payment, make an API call to update the payment transaction
- Based on the backend response display a message fo

[2021-10-13 19:53] sumesh-aot opened #675 "API : Fee code endpoint"
Title of ticket:

#### Description
Create a fee code endpoint and supporting tables;
- a new GET endpoint /fees/:fee_code?quantity=&date=
- 2 new tables. 1) Fee 2) Revenue account

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-10-13 19:53] sumesh-aot opened #676 "API : New endpoint for payment transaction"
Title of ticket:

#### Description
Build a new endpoint for payment transaction;
- Endpoint : POST /requests/:id/payments
- New table : Payments
- Create PayBC URL by using the revenue account and the API key

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-10-13 19:54] sumesh-aot opened #677 "API : New endpoint for updating payment transaction"
Title of ticket:

#### Description
API : New endpoint for updating payment transaction
- PUT /requests/:id/payments/:id
- New table : receipt
- Parse the URL and verify response, call PayBC API to confirm payment

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]

[2021-10-14 21:32] m-prodan commented on #512
Updated scenario to require attachments before save can be activated. Please add/link design when you have it completed @JHarrietha-AOT

[2021-10-14 22:44] m-prodan opened #679 "Change State - Call for Records to Fee Estimate"
** As a ministry coordinator
•	I want to be able to change the state of a request from Call for Records to ‘Fee Estimate’
•	so that I can inform the IAO team there is a fee estimate ready for review

**Assumptions & Scope**

**What are the assumptions for this story?**
•	Only a ministry coordinator can change a request from Call for Records into a Fee Estimate state

**Not in scope:**
•	Notificati

[2021-10-14 23:25] m-prodan opened #680 "Require an Upload when Changing State from CFR to Review"
** As a ministry coordinator
•	I want to be required to add an attachment, before I can change the state from CFR to Review
•	so that I ensure all required documentation is provided before the state can be changed

**Assumptions & Scope**

**What are the assumptions for this story?**
•	This is an enhancement to #508, to make it behave similar to #679 and #512
* State change does not impact Ministr

[2021-10-14 23:26] m-prodan commented on #680
Enhancement to #508 per our discussion this morning. @JHarrietha-AOT - please link updated designs when completed

[2021-10-14 23:39] m-prodan opened #681 "Change State from CFR to Harms Assessment"
** As a ministry coordinator
•	I want to be able to change the state from Call for Records, to Harms Assessment
•	so that I can better track the movement of a request within the Call for Records action

**Assumptions & Scope**
What are the assumptions for this story?
•	This is a sub-state, as part of the Call for Records action

**Not in scope:**
•	Notifications that the state has changed; automat

[2021-10-14 23:40] m-prodan commented on #681
Change of State from CFR to Harms assessment drafted - not sure if we need a true design per se, since it will function similar to our others, but feel free to link it when you have completed it @JHarrietha-AOT

[2021-10-14 23:40] lmullane opened #682 "Update content on fees"
Title of ticket:

#### Description
The content on the webform related needs to be updated both on the submission page and the fee page.

#### Dependencies
Are there any dependencies?

#### DOD
- [x] Draft content
- [x] PO approval
- [ ] Business approval
- [ ] Confirm regulation has come into force
- [ ] Update text changes and deploy on OpenShift

[2021-10-15 16:03] sumathi-thirumani-aot opened #683 "POST API for Ministry Request for division and stage(#566)"
Allow capturing of division by the ministry coordinator

DOD
=====

- [x] Create migration script for the new entity to capture divisions of ministry request.
- [x]  Create new model to support capturing of division of ministry program area.
- [x] Expose an POST endpoint to capture divisions.
- [x] Unit Testing

[2021-10-15 22:06] arielleandrews opened #684 "Change State from Fee Estimate to On Hold"
* As an IAO Analyst
* I want to change the request state to On Hold after I have sent an applicant a fee estimate
* so that the clock stops

**Assumptions & Scope**
* Only an IAO Analyst can change the state to On Hold

What is IN scope?
* Reflecting state change in IAO and Ministry queues
* Stopping the clock for the legislated due date

What is NOT in scope?
* Stopping the CFR clock - this is co

[2021-10-15 22:09] JHarrietha-AOT commented on #684
@arielleandrews Links added, I would agree it should be displayed as N/A when in Oh Hold State. I think that could be added here as it is a result of the hold state

[2021-10-15 22:24] JHarrietha-AOT commented on #469
@m-prodan thanks, designs added

[2021-10-15 22:27] arielleandrews opened #685 "Change State from On Hold to Call For Records"
* As an IAO analyst
* I want to change the request state to Call for Records after a fee has been resolved
* so that I can restart the legislated due date and CFR clock and alert the Ministry to resume gathering records

**Assumptions & Scope**
* Start Date field will be inactiver
* Only an IAO Analyst can change the state from On Hold to Call for Records
* When the clock is restarted, the day the

[2021-10-15 22:40] jadmsaadaot opened #686 "Fix vulnerability in the headers for the FOI web request"
https://github.com/bcgov/queue-management/blob/master/appointment-frontend/nginx.conf

[2021-10-15 22:52] arielleandrews opened #687 "Change State from CFR to Deduplication"
* As a Ministry Coordinator
* I want to be able to change the state of a request to Deduplication
* so that I know records gathering is complete and that IAO is responsible for the next state of the request

**Assumptions & Scope**
* Only a Ministry Coordinator can change the state to Deduplication
* No change to CFR clock when changed to Deduplication

What is IN scope?
* Reflecting the state cha

[2021-10-15 23:14] arielleandrews opened #688 "Change State from Deduplication to Harms Assessment"
* As an IAO analyst
* I want to be able to change the state of a request to Harms Assessment
* so that I know deduplication is complete and that the Ministry is responsible for the next state of the request

**Assumptions & Scope**
* Deduplication is a sub-state of Call for Records
* Only an IAO analyst can change the state from Deduplication to Harms Assessment

What is IN scope?
* Reflecting the

[2021-10-15 23:31] arielleandrews opened #689 "Change state from Deduplication to Records Review"
* As an IAO Flex Team analyst
* I want to be able to change the state of a request to Records Review
* so that I know deduplication  is complete and that the processing team is responsible for the next state of the request

**Assumptions & Scope**
* Only an IAO analyst can change the state from Deduplication to Records Review

What is IN scope?
* Reflecting the state change in IAO and Ministry que

[2021-10-18 20:01] #667 closed, assigned to m-prodan, arielleandrews

[2021-10-19 16:50] mpilchar opened #695 "Fee estimate - Upload attachment"
* As a ministry coord
* I want upload an attachment as part of the fee estimate state
* so that I can include and save documentation to support the request

**Assumptions & Scope**
What are the assumptions for this story?

What is IN scope?

What is NOT in scope?

**Acceptance Criteria**

Scenario 3: Ministry Call For Records Dropdown menu - Select Fee Estimate
• GIVEN I am a ministry coordinator

[2021-10-19 17:07] mpilchar opened #696 "Flex Analyst ability collaboration ability when request is with Ministry coord"
* As a flex team analyst
* I want to confirm changes made by ministry coord during state changes
* so that I have the flexibility to collaborate on the request during specific use cases

**Assumptions & Scope**
What are the assumptions for this story?

What is IN scope?

What is NOT in scope?

**Acceptance Criteria**

**Scenario 1: xxxxxx**
* GIVEN ... (you or your condition)
* WHEN ... (what you

[2021-10-19 17:08] mpilchar commented on #696
@m-prodan @arielleandrews @lmullane Please add in scenarios per refinement today

[2021-10-19 17:10] arielleandrews opened #697 "File Upload"
* As a ministry coordinator
* I want to upload a file to the request
* so that I can save and share completed documentation for the request

**Assumptions & Scope**
* For MVP only a Ministry Coordinator can upload files to the request
* All versions of files will need to be saved
* File Upload functionality will be utilized and mandatory in multiple state changes (Call for Records to Records Revie

[2021-10-19 17:15] JHarrietha-AOT commented on #697
Need to know:

- [ ] Number of files we can upload at once (1 at a time)

- [ ] File types to be able to upload (PDF, EXCEL, WORD DOC)

- [ ] File Size Limit (NEED TO LOOK INTO IT) @arielleandrews @m-prodan

[2021-10-19 18:06] jadmnsaad opened #698 "FOI: Integrate API and Web changes"

[2021-10-19 20:56] mpilchar opened #700 "PayBC integration"
Description
A list of the technical steps needed to complete the PayBC integration

- PayBC API Key
- PayBC reference number
- PayBC API OAuth Client ID
- PayBC API OAuth Client Secret

This is assuming FOI will be using same TEST region as BC Registries. If not, then we will need URLs too.

#### DOD
- [ ] Deloitte to advise on which environment is available
- [ ] QA performed in test with auditor

[2021-10-19 22:18] mpilchar opened #704 "Schedule quarterly review of application logs"
#### Description
At a STRA meeting with CITZ miso, we discussed implementing quarterly reviews to ensure against malicious code/improve our security

#### Dependencies
Are there any dependencies?

#### DOD
- [ ] List the items that need to be complete for this ticket to be considered done
- [ ]
- [ ]
- [ ]
- [ ]